<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="google-site-verification" content="xBT4GhYoi5qRD5tr338pgPM5OWHHIDR6mNg1a3euekI" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="{{ site.description }}">
    <meta name="keywords"  content="{{ site.keyword }}">
    <meta name="theme-color" content="{{ site.chrome-tab-theme-color }}">
    
    <title>{% if page.title %}{{ page.title }} - {{ site.SEOTitle }}{% else %}{{ site.SEOTitle }}{% endif %}</title>

    <!-- Web App Manifest -->
    <link rel="manifest" href="{{ site.baseurl }}/pwa/manifest.json">

    <!-- Favicon -->
    <link rel="shortcut icon" href="{{ site.baseurl }}/img/favicon.png">

    <!-- Safari Webpage Icon    by-BY -->
    <link rel="apple-touch-icon" href="{{ site.baseurl }}/img/favicon.png">
    
    <!-- Canonical URL -->
    <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">

    <!-- Bootstrap Core CSS -->
    <link rel="stylesheet" href="{{ "/css/bootstrap.min.css" | prepend: site.baseurl }}">

    <!-- Custom CSS -->
    <link rel="stylesheet" href="{{ "/css/hux-blog.min.css" | prepend: site.baseurl }}">

    <!-- Pygments Github CSS -->
    <link rel="stylesheet" href="{{ "/css/syntax.css" | prepend: site.baseurl }}">

    <!-- Custom Fonts -->
    <!-- <link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet" type="text/css"> -->
    <!-- Hux change font-awesome CDN to qiniu -->
    <link href="//cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet" type="text/css">


    <!-- Hux Delete, sad but pending in China
    <link href='http://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/
    css'>
    -->

    <!-- RainEffect-->
    <link rel="stylesheet" type="text/css" href="../RainEffect/demo/css/normalize.css" />
	<link href='https://fonts.googleapis.com/css?family=Roboto:400,100,300,700,500,900' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" type="text/css" href="../RainEffect/demo/css/demo.css" />
	<link rel="stylesheet" type="text/css" href="../RainEffect/demo/css/style1.css" />


    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

    <!-- ga & ba script hoook -->
    <script></script>
</head>


<body class="demo-1">
	<div class="image-preload">
		<img src="../RainEffect/demo/img/drop-color.png" alt="">
		<img src="../RainEffect/demo/img/drop-alpha.png" alt="">
		<img src="../RainEffect/demo/img/weather/texture-rain-fg.png" />
		<img src="../RainEffect/demo/img/weather/texture-rain-bg.png" />
		<img src="../RainEffect/demo/img/weather/texture-sun-fg.png" />
		<img src="../RainEffect/demo/img/weather/texture-sun-bg.png" />
		<img src="../RainEffect/demo/img/weather/texture-fallout-fg.png" />
		<img src="../RainEffect/demo/img/weather/texture-fallout-bg.png" />
		<img src="../RainEffect/demo/img/weather/texture-drizzle-fg.png" />
		<img src="../RainEffect/demo/img/weather/texture-drizzle-bg.png" />
	</div>
	<div class="container">
		<header class="codrops-header">
			<div class="codrops-links">
				<a class="codrops-icon codrops-icon--prev" href="http://tympanus.net/Development/CardStackEffects/" title="Previous Demo"><span>Previous Demo</span></a>
				<a class="codrops-icon codrops-icon--drop" href="http://tympanus.net/codrops/?p=25417" title="Back to the article"><span>Back to the Codrops article</span></a>
			</div>
			<h1>Rain &amp; Water Effects</h1>
			<nav class="codrops-demos">
				<a class="current-demo" href="../RainEffect/demo/index.html">Weather</a>
				<a href="../RainEffect/demo/index2.html">Water</a>
				<a href="../RainEffect/demo/index3.html">Video</a>
			</nav>
		</header>
		<div class="slideshow">
			<canvas width="1" height="1" id="container" style="position:absolute"></canvas>
			<!-- Heavy Rain -->
			<div class="slide" id="slide-1" data-weather="rain">
				<div class="slide__element slide__element--date">Sunday, 24<sup>th</sup> of October 2043</div>
				<div class="slide__element slide__element--temp">12°<small>C</small></div>
			</div>
			<!-- Drizzle -->
			<div class="slide" id="slide-2" data-weather="drizzle">
				<div class="slide__element slide__element--date">Saturday, 25<sup>th</sup> of October 2043</div>
				<div class="slide__element slide__element--temp">18°<small>C</small></div>
			</div>
			<!-- Sunny -->
			<div class="slide" id="slide-3" data-weather="sunny">
				<div class="slide__element slide__element--date">Monday, 26<sup>th</sup> of October 2043</div>
				<div class="slide__element slide__element--temp">25°<small>C</small></div>
			</div>
			<!-- Heavy rain -->
			<div class="slide" id="slide-5" data-weather="storm">
				<div class="slide__element slide__element--date">Wednesday, 28<sup>th</sup> of October 2043</div>
				<div class="slide__element slide__element--temp">20°<small>C</small></div>
			</div>
			<!-- Fallout (greenish overlay with slightly greenish/yellowish drops) -->
			<div class="slide" id="slide-4" data-weather="fallout">
				<div class="slide__element slide__element--date">Tuesday, 27<sup>th</sup> of October 2043</div>
				<div class="slide__element slide__element--temp">34°<small>C</small></div>
			</div>
			<nav class="slideshow__nav">
				<a class="nav-item" href="#slide-1"><i class="icon icon--rainy"></i><span>10/24</span></a>
				<a class="nav-item" href="#slide-2"><i class="icon icon--drizzle"></i><span>10/25</span></a>
				<a class="nav-item" href="#slide-3"><i class="icon icon--sun"></i><span>10/26</span></a>
				<a class="nav-item" href="#slide-5"><i class="icon icon--storm"></i><span>10/28</span></a>
				<a class="nav-item" href="#slide-4"><i class="icon icon--radioactive"></i><span>10/27</span></a>
			</nav>
		</div>
		<p class="nosupport">Sorry, but your browser does not support WebGL!</p>
	</div>
	<!-- /container -->
	<script src="../RainEffect/demo/js/index.min.js"></script>
</body>

</html>