<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>achievement/achievement.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,566},{448,93}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{448,93}</string>
			</dict>
			<key>achievement/b001.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,838},{636,94}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{636,94}</string>
			</dict>
			<key>achievement/achievementinfo.png</key>
			<dict>
				<key>frame</key>
				<string>{{457,257},{579,107}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{579,107}</string>
			</dict>
			<key>achievement/icontype1.png</key>
			<dict>
				<key>frame</key>
				<string>{{637,569},{111,92}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{118,113}</string>
			</dict>
			<key>achievement/icontype2.png</key>
			<dict>
				<key>frame</key>
				<string>{{897,769},{118,113}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{118,113}</string>
			</dict>
			<key>achievement/icontype3.png</key>
			<dict>
				<key>frame</key>
				<string>{{454,934},{84,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{118,113}</string>
			</dict>
			<key>achievement/icontype4.png</key>
			<dict>
				<key>frame</key>
				<string>{{707,908},{113,105}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{118,113}</string>
			</dict>
			<key>achievement/btnreceive1.png</key>
			<dict>
				<key>frame</key>
				<string>{{921,612},{152,90}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{152,90}</string>
			</dict>
			<key>achievement/btnreceive2.png</key>
			<dict>
				<key>frame</key>
				<string>{{566,668},{152,90}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{152,90}</string>
			</dict>
			<key>achievement/gem1.png</key>
			<dict>
				<key>frame</key>
				<string>{{566,391},{69,60}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{69,60}</string>
			</dict>
			<key>achievement/gem2.png</key>
			<dict>
				<key>frame</key>
				<string>{{566,453},{69,60}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{69,60}</string>
			</dict>
			<key>achievement/gold1.png</key>
			<dict>
				<key>frame</key>
				<string>{{964,1},{53,53}}</string>
				<key>offset</key>
				<string>{-2,4}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{69,60}</string>
			</dict>
			<key>achievement/gold2.png</key>
			<dict>
				<key>frame</key>
				<string>{{964,56},{53,53}}</string>
				<key>offset</key>
				<string>{-2,4}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{69,60}</string>
			</dict>
			<key>achievement/pet1000_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{566,515},{69,60}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{69,60}</string>
			</dict>
			<key>achievement/pet1000_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{959,499},{69,60}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{69,60}</string>
			</dict>
			<key>achievement/round.png</key>
			<dict>
				<key>frame</key>
				<string>{{566,325},{64,67}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{64,67}</string>
			</dict>
			<key>achievement/best.png</key>
			<dict>
				<key>frame</key>
				<string>{{171,805},{74,30}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{74,30}</string>
			</dict>
			<key>achievement/endui01.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{640,254}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{640,254}</string>
			</dict>
			<key>achievement/redpoint.png</key>
			<dict>
				<key>frame</key>
				<string>{{411,718},{40,43}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{40,43}</string>
			</dict>
			<key>achievement/bg2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,257},{454,307}}</string>
				<key>offset</key>
				<string>{0,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{454,308}</string>
			</dict>
			<key>achievement/continue.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,934},{306,79}}</string>
				<key>offset</key>
				<string>{0,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{306,80}</string>
			</dict>
			<key>achievement/life.png</key>
			<dict>
				<key>frame</key>
				<string>{{643,1},{474,319}}</string>
				<key>offset</key>
				<string>{0,1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{474,320}</string>
			</dict>
			<key>achievement/s1.png</key>
			<dict>
				<key>frame</key>
				<string>{{289,661},{120,123}}</string>
				<key>offset</key>
				<string>{0,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{120,124}</string>
			</dict>
			<key>achievement/step5.png</key>
			<dict>
				<key>frame</key>
				<string>{{714,792},{114,105}}</string>
				<key>offset</key>
				<string>{0,1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{114,106}</string>
			</dict>
			<key>achievement/lifefont.png</key>
			<dict>
				<key>frame</key>
				<string>{{309,934},{143,78}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{144,78}</string>
			</dict>
			<key>achievement/lifeicon1.png</key>
			<dict>
				<key>frame</key>
				<string>{{566,257},{72,66}}</string>
				<key>offset</key>
				<string>{-3,-6}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{84,90}</string>
			</dict>
			<key>achievement/lifeicon2.png</key>
			<dict>
				<key>frame</key>
				<string>{{556,934},{84,90}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{84,90}</string>
			</dict>
			<key>achievement/max.png</key>
			<dict>
				<key>frame</key>
				<string>{{247,805},{69,30}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{70,30}</string>
			</dict>
			<key>achievement/wq.png</key>
			<dict>
				<key>frame</key>
				<string>{{374,786},{66,30}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{66,30}</string>
			</dict>
			<key>achievement/wqicon.png</key>
			<dict>
				<key>frame</key>
				<string>{{411,760},{44,24}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{44,24}</string>
			</dict>
			<key>achievement/palyok.png</key>
			<dict>
				<key>frame</key>
				<string>{{637,477},{190,90}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{190,90}</string>
			</dict>
			<key>achievement/closebtn.png</key>
			<dict>
				<key>frame</key>
				<string>{{829,477},{189,90}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{189,90}</string>
			</dict>
			<key>fnt/pet_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{859,735},{31,36}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{32,36}</string>
			</dict>
			<key>fnt/pet_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{610,577},{22,36}}</string>
				<key>offset</key>
				<string>{-1,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{32,36}</string>
			</dict>
			<key>fnt/pet_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{822,735},{32,35}}</string>
				<key>offset</key>
				<string>{0,1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{32,36}</string>
			</dict>
			<key>fnt/pet_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{859,768},{31,36}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{32,36}</string>
			</dict>
			<key>fnt/pet_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{861,668},{32,36}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{32,36}</string>
			</dict>
			<key>fnt/pet_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{671,869},{30,35}}</string>
				<key>offset</key>
				<string>{0,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{32,36}</string>
			</dict>
			<key>fnt/pet_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{675,794},{30,36}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{32,36}</string>
			</dict>
			<key>fnt/pet_7.png</key>
			<dict>
				<key>frame</key>
				<string>{{678,826},{29,35}}</string>
				<key>offset</key>
				<string>{0,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{32,36}</string>
			</dict>
			<key>fnt/pet_8.png</key>
			<dict>
				<key>frame</key>
				<string>{{822,769},{31,36}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{32,36}</string>
			</dict>
			<key>fnt/pet_9.png</key>
			<dict>
				<key>frame</key>
				<string>{{639,869},{30,36}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{32,36}</string>
			</dict>
			<key>fnt/score_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{610,615},{23,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{23,32}</string>
			</dict>
			<key>fnt/score_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{103,816},{10,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{23,32}</string>
			</dict>
			<key>fnt/score_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{897,735},{22,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{23,32}</string>
			</dict>
			<key>fnt/score_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,816},{20,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{23,32}</string>
			</dict>
			<key>fnt/score_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{784,638},{23,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{23,32}</string>
			</dict>
			<key>fnt/score_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{821,906},{21,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{23,32}</string>
			</dict>
			<key>fnt/score_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{855,876},{22,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{23,32}</string>
			</dict>
			<key>fnt/score_7.png</key>
			<dict>
				<key>frame</key>
				<string>{{639,907},{23,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{23,32}</string>
			</dict>
			<key>fnt/score_8.png</key>
			<dict>
				<key>frame</key>
				<string>{{673,906},{23,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{23,32}</string>
			</dict>
			<key>fnt/score_9.png</key>
			<dict>
				<key>frame</key>
				<string>{{855,801},{23,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{23,32}</string>
			</dict>
			<key>fnt/step_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{750,604},{32,37}}</string>
				<key>offset</key>
				<string>{0,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{34,40}</string>
			</dict>
			<key>fnt/step_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{611,811},{24,37}}</string>
				<key>offset</key>
				<string>{-3,1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{34,40}</string>
			</dict>
			<key>fnt/step_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{822,702},{31,37}}</string>
				<key>offset</key>
				<string>{-1,1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{34,40}</string>
			</dict>
			<key>fnt/step_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{639,837},{30,37}}</string>
				<key>offset</key>
				<string>{0,1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{34,40}</string>
			</dict>
			<key>fnt/step_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{750,569},{33,38}}</string>
				<key>offset</key>
				<string>{-1,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{34,40}</string>
			</dict>
			<key>fnt/step_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{861,702},{31,37}}</string>
				<key>offset</key>
				<string>{0,1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{34,40}</string>
			</dict>
			<key>fnt/step_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{790,569},{33,37}}</string>
				<key>offset</key>
				<string>{-1,1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{34,40}</string>
			</dict>
			<key>fnt/step_7.png</key>
			<dict>
				<key>frame</key>
				<string>{{784,604},{32,37}}</string>
				<key>offset</key>
				<string>{0,1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{34,40}</string>
			</dict>
			<key>fnt/step_8.png</key>
			<dict>
				<key>frame</key>
				<string>{{675,760},{32,37}}</string>
				<key>offset</key>
				<string>{0,1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{34,40}</string>
			</dict>
			<key>fnt/step_9.png</key>
			<dict>
				<key>frame</key>
				<string>{{822,668},{32,37}}</string>
				<key>offset</key>
				<string>{0,1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{34,40}</string>
			</dict>
			<key>fnt/victory_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{821,807},{23,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{23,32}</string>
			</dict>
			<key>fnt/victory_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{137,816},{10,32}}</string>
				<key>offset</key>
				<string>{1,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{23,32}</string>
			</dict>
			<key>fnt/victory_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{821,882},{22,32}}</string>
				<key>offset</key>
				<string>{1,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{23,32}</string>
			</dict>
			<key>fnt/victory_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{35,816},{20,32}}</string>
				<key>offset</key>
				<string>{1,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{23,32}</string>
			</dict>
			<key>fnt/victory_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{855,826},{23,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{23,32}</string>
			</dict>
			<key>fnt/victory_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{673,931},{21,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{23,32}</string>
			</dict>
			<key>fnt/victory_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{855,900},{22,32}}</string>
				<key>offset</key>
				<string>{1,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{23,32}</string>
			</dict>
			<key>fnt/victory_7.png</key>
			<dict>
				<key>frame</key>
				<string>{{821,832},{23,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{23,32}</string>
			</dict>
			<key>fnt/victory_8.png</key>
			<dict>
				<key>frame</key>
				<string>{{855,851},{23,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{23,32}</string>
			</dict>
			<key>fnt/victory_9.png</key>
			<dict>
				<key>frame</key>
				<string>{{821,857},{23,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{23,32}</string>
			</dict>
			<key>fnt/victory_gang.png</key>
			<dict>
				<key>frame</key>
				<string>{{69,816},{16,32}}</string>
				<key>offset</key>
				<string>{1,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{23,32}</string>
			</dict>
			<key>fnt/victory_X.png</key>
			<dict>
				<key>frame</key>
				<string>{{650,810},{23,24}}</string>
				<key>offset</key>
				<string>{0,-4}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{23,32}</string>
			</dict>
			<key>fnt/victory1_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{964,260},{46,55}}</string>
				<key>offset</key>
				<string>{1,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{49,55}</string>
			</dict>
			<key>fnt/victory1_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{411,661},{33,55}}</string>
				<key>offset</key>
				<string>{-4,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{49,55}</string>
			</dict>
			<key>fnt/victory1_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{964,356},{46,54}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{49,55}</string>
			</dict>
			<key>fnt/victory1_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{964,404},{45,55}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{49,55}</string>
			</dict>
			<key>fnt/victory1_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{964,111},{49,55}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{49,55}</string>
			</dict>
			<key>fnt/victory1_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{318,786},{44,54}}</string>
				<key>offset</key>
				<string>{1,-1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{49,55}</string>
			</dict>
			<key>fnt/victory1_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{964,162},{47,55}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{49,55}</string>
			</dict>
			<key>fnt/victory1_7.png</key>
			<dict>
				<key>frame</key>
				<string>{{964,451},{46,53}}</string>
				<key>offset</key>
				<string>{1,-1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{49,55}</string>
			</dict>
			<key>fnt/victory1_8.png</key>
			<dict>
				<key>frame</key>
				<string>{{964,308},{46,55}}</string>
				<key>offset</key>
				<string>{1,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{49,55}</string>
			</dict>
			<key>fnt/victory1_9.png</key>
			<dict>
				<key>frame</key>
				<string>{{964,211},{47,55}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{49,55}</string>
			</dict>
			<key>fnt/win_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{921,522},{35,43}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{37,43}</string>
			</dict>
			<key>fnt/win_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{566,811},{24,43}}</string>
				<key>offset</key>
				<string>{-2,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{36,43}</string>
			</dict>
			<key>fnt/win_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{639,766},{34,42}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{36,43}</string>
			</dict>
			<key>fnt/win_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{603,766},{34,43}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{36,43}</string>
			</dict>
			<key>fnt/win_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{921,477},{36,43}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{36,43}</string>
			</dict>
			<key>fnt/win_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{566,577},{34,42}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{36,43}</string>
			</dict>
			<key>fnt/win_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{921,567},{35,43}}</string>
				<key>offset</key>
				<string>{-1,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{36,43}</string>
			</dict>
			<key>fnt/win_7.png</key>
			<dict>
				<key>frame</key>
				<string>{{566,613},{34,42}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{36,43}</string>
			</dict>
			<key>fnt/win_8.png</key>
			<dict>
				<key>frame</key>
				<string>{{958,570},{35,43}}</string>
				<key>offset</key>
				<string>{-1,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{36,43}</string>
			</dict>
			<key>fnt/win_9.png</key>
			<dict>
				<key>frame</key>
				<string>{{566,766},{35,43}}</string>
				<key>offset</key>
				<string>{-1,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{36,43}</string>
			</dict>
			<key>item/selectuseitem.png</key>
			<dict>
				<key>frame</key>
				<string>{{889,884},{112,112}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{112,112}</string>
			</dict>
			<key>gameplaylayer/item4.png</key>
			<dict>
				<key>frame</key>
				<string>{{720,663},{100,127}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,127}</string>
			</dict>
			<key>gameplaylayer/addleveleffect3.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,661},{142,153}}</string>
				<key>offset</key>
				<string>{-2,2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{168,168}</string>
			</dict>
			<key>pngdata/gameplayeffect/gameplaystart1.png</key>
			<dict>
				<key>frame</key>
				<string>{{145,661},{142,142}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{142,142}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>achievementplist.png</string>
			<key>realTextureFileName</key>
			<string>achievementplist.png</string>
			<key>size</key>
			<string>{1024,1024}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1024</integer>
			<key>height</key>
			<integer>1024</integer>
		</dict>
	</dict>
</plist>