<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>gameplaylayer/5.png</key>
			<dict>
				<key>frame</key>
				<string>{{819,1},{504,106}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{504,106}</string>
			</dict>
			<key>gameplaylayer/6.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{620,346}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{620,346}</string>
			</dict>
			<key>gameplaylayer/bottomsprite.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,950},{464,26}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{464,26}</string>
			</dict>
			<key>gameplaylayer/bottomsprite1.png</key>
			<dict>
				<key>frame</key>
				<string>{{978,476},{472,34}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{472,34}</string>
			</dict>
			<key>gameplaylayer/btnnextLevel.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,807},{300,141}}</string>
				<key>offset</key>
				<string>{0,2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{300,144}</string>
			</dict>
			<key>gameplaylayer/conveyor1.png</key>
			<dict>
				<key>frame</key>
				<string>{{927,399},{75,75}}</string>
				<key>offset</key>
				<string>{1,2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{78,78}</string>
			</dict>
			<key>gameplaylayer/conveyor88.png</key>
			<dict>
				<key>frame</key>
				<string>{{921,950},{72,74}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{74,74}</string>
			</dict>
			<key>gameplaylayer/dialogue.png</key>
			<dict>
				<key>frame</key>
				<string>{{467,809},{452,210}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{452,210}</string>
			</dict>
			<key>gameplaylayer/item5.png</key>
			<dict>
				<key>frame</key>
				<string>{{303,807},{100,127}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,127}</string>
			</dict>
			<key>gameplaylayer/4-2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,519},{322,286}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{322,286}</string>
			</dict>
			<key>gameplaylayer/start.png</key>
			<dict>
				<key>frame</key>
				<string>{{921,809},{49,51}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{72,72}</string>
			</dict>
			<key>gameplaylayer/kuang.png</key>
			<dict>
				<key>frame</key>
				<string>{{623,1},{516,194}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{516,194}</string>
			</dict>
			<key>gameplaylayer/addstep.png</key>
			<dict>
				<key>frame</key>
				<string>{{325,700},{113,101}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{113,101}</string>
			</dict>
			<key>gameplaylayer/closebtn.png</key>
			<dict>
				<key>frame</key>
				<string>{{467,670},{106,119}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{106,119}</string>
			</dict>
			<key>fnt/fontA_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{355,978},{28,35}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{28,35}</string>
			</dict>
			<key>fnt/fontA_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{997,950},{21,35}}</string>
				<key>offset</key>
				<string>{-2,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{28,35}</string>
			</dict>
			<key>fnt/fontA_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{405,833},{27,35}}</string>
				<key>offset</key>
				<string>{-1,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{28,35}</string>
			</dict>
			<key>fnt/fontA_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{405,862},{27,35}}</string>
				<key>offset</key>
				<string>{-1,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{28,35}</string>
			</dict>
			<key>fnt/fontA_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{385,978},{28,35}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{28,35}</string>
			</dict>
			<key>fnt/fontA_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{434,891},{27,33}}</string>
				<key>offset</key>
				<string>{-1,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{28,35}</string>
			</dict>
			<key>fnt/fontA_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{415,978},{28,35}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{28,35}</string>
			</dict>
			<key>fnt/fontA_7.png</key>
			<dict>
				<key>frame</key>
				<string>{{405,891},{27,34}}</string>
				<key>offset</key>
				<string>{-1,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{28,35}</string>
			</dict>
			<key>fnt/fontA_8.png</key>
			<dict>
				<key>frame</key>
				<string>{{405,670},{28,35}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{28,35}</string>
			</dict>
			<key>fnt/fontA_9.png</key>
			<dict>
				<key>frame</key>
				<string>{{405,803},{28,35}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{28,35}</string>
			</dict>
			<key>fnt/gametime_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{1004,426},{18,26}}</string>
				<key>offset</key>
				<string>{0,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{20,27}</string>
			</dict>
			<key>fnt/gametime_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1006,29},{16,26}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{20,27}</string>
			</dict>
			<key>fnt/gametime_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{440,726},{18,25}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{20,27}</string>
			</dict>
			<key>fnt/gametime_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{1006,1},{17,26}}</string>
				<key>offset</key>
				<string>{0,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{20,27}</string>
			</dict>
			<key>fnt/gametime_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{997,987},{20,25}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{20,27}</string>
			</dict>
			<key>fnt/gametime_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{1006,57},{16,26}}</string>
				<key>offset</key>
				<string>{0,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{20,27}</string>
			</dict>
			<key>fnt/gametime_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{445,978},{18,26}}</string>
				<key>offset</key>
				<string>{0,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{20,27}</string>
			</dict>
			<key>fnt/gametime_7.png</key>
			<dict>
				<key>frame</key>
				<string>{{1004,399},{19,25}}</string>
				<key>offset</key>
				<string>{-1,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{20,27}</string>
			</dict>
			<key>fnt/gametime_8.png</key>
			<dict>
				<key>frame</key>
				<string>{{442,670},{18,26}}</string>
				<key>offset</key>
				<string>{0,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{20,27}</string>
			</dict>
			<key>fnt/gametime_9.png</key>
			<dict>
				<key>frame</key>
				<string>{{442,698},{18,26}}</string>
				<key>offset</key>
				<string>{0,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{20,27}</string>
			</dict>
			<key>fnt/level_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{1006,85},{13,20}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{14,20}</string>
			</dict>
			<key>fnt/level_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1006,173},{12,20}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{14,20}</string>
			</dict>
			<key>fnt/level_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1006,107},{13,20}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{14,20}</string>
			</dict>
			<key>fnt/level_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{965,506},{11,20}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{14,20}</string>
			</dict>
			<key>fnt/level_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{1004,454},{14,19}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{14,20}</string>
			</dict>
			<key>fnt/level_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{965,528},{11,19}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{14,20}</string>
			</dict>
			<key>fnt/level_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{1006,129},{13,20}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{14,20}</string>
			</dict>
			<key>fnt/level_7.png</key>
			<dict>
				<key>frame</key>
				<string>{{1006,217},{12,19}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{14,20}</string>
			</dict>
			<key>fnt/level_8.png</key>
			<dict>
				<key>frame</key>
				<string>{{1006,195},{12,20}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{14,20}</string>
			</dict>
			<key>fnt/level_9.png</key>
			<dict>
				<key>frame</key>
				<string>{{1006,151},{13,20}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{14,20}</string>
			</dict>
			<key>fnt/leveldetails_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{103,978},{40,49}}</string>
				<key>offset</key>
				<string>{0,1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{42,50}</string>
			</dict>
			<key>fnt/leveldetails_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{927,476},{28,49}}</string>
				<key>offset</key>
				<string>{-2,1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{42,50}</string>
			</dict>
			<key>fnt/leveldetails_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{154,978},{40,48}}</string>
				<key>offset</key>
				<string>{0,1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{42,50}</string>
			</dict>
			<key>fnt/leveldetails_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{204,978},{39,49}}</string>
				<key>offset</key>
				<string>{-1,1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{42,50}</string>
			</dict>
			<key>fnt/leveldetails_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{921,860},{42,49}}</string>
				<key>offset</key>
				<string>{0,1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{42,50}</string>
			</dict>
			<key>fnt/leveldetails_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{305,978},{38,48}}</string>
				<key>offset</key>
				<string>{0,1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{42,50}</string>
			</dict>
			<key>fnt/leveldetails_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{921,904},{41,49}}</string>
				<key>offset</key>
				<string>{-1,1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{42,50}</string>
			</dict>
			<key>fnt/leveldetails_7.png</key>
			<dict>
				<key>frame</key>
				<string>{{255,978},{39,48}}</string>
				<key>offset</key>
				<string>{-1,1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{42,50}</string>
			</dict>
			<key>fnt/leveldetails_8.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,978},{41,49}}</string>
				<key>offset</key>
				<string>{-1,1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{42,50}</string>
			</dict>
			<key>fnt/leveldetails_9.png</key>
			<dict>
				<key>frame</key>
				<string>{{52,978},{41,49}}</string>
				<key>offset</key>
				<string>{-1,1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{42,50}</string>
			</dict>
			<key>gameplaylayer/btnrplay.png</key>
			<dict>
				<key>frame</key>
				<string>{{819,507},{300,144}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{300,144}</string>
			</dict>
			<key>gameplaylayer/4.png</key>
			<dict>
				<key>frame</key>
				<string>{{405,349},{319,206}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{319,206}</string>
			</dict>
			<key>gameplaylayer/choosetool.png</key>
			<dict>
				<key>frame</key>
				<string>{{927,1},{396,77}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{396,77}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>gameplaylayer2.png</string>
			<key>realTextureFileName</key>
			<string>gameplaylayer2.png</string>
			<key>size</key>
			<string>{1024,1024}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1024</integer>
			<key>height</key>
			<integer>1024</integer>
		</dict>
	</dict>
</plist>