<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>gameselectlayer/7.png</key>
			<dict>
				<key>frame</key>
				<string>{{446,1},{624,242}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{624,242}</string>
			</dict>
			<key>gameselectlayer/9.png</key>
			<dict>
				<key>frame</key>
				<string>{{204,345},{300,178}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{300,178}</string>
			</dict>
			<key>gameselectlayer/12.png</key>
			<dict>
				<key>frame</key>
				<string>{{759,850},{142,132}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{142,132}</string>
			</dict>
			<key>gameselectlayer/11.png</key>
			<dict>
				<key>frame</key>
				<string>{{620,850},{138,137}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{138,137}</string>
			</dict>
			<key>gameselectlayer/16.png</key>
			<dict>
				<key>frame</key>
				<string>{{97,345},{59,59}}</string>
				<key>offset</key>
				<string>{0,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{60,60}</string>
			</dict>
			<key>gameselectlayer/17.png</key>
			<dict>
				<key>frame</key>
				<string>{{204,869},{106,119}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{106,119}</string>
			</dict>
			<key>gameselectlayer/10.png</key>
			<dict>
				<key>frame</key>
				<string>{{204,647},{234,220}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{234,220}</string>
			</dict>
			<key>gameselectlayer/8.png</key>
			<dict>
				<key>frame</key>
				<string>{{440,627},{300,178}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{300,178}</string>
			</dict>
			<key>gameselectlayer/sbg2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,345},{582,94}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{582,94}</string>
			</dict>
			<key>gameselectlayer/icon.png</key>
			<dict>
				<key>frame</key>
				<string>{{620,627},{221,195}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{221,195}</string>
			</dict>
			<key>gameselectlayer/level.png</key>
			<dict>
				<key>frame</key>
				<string>{{384,345},{161,57}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{161,57}</string>
			</dict>
			<key>gameselectlayer/line.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,985},{456,9}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{456,9}</string>
			</dict>
			<key>gameselectlayer/14.png</key>
			<dict>
				<key>frame</key>
				<string>{{97,406},{57,57}}</string>
				<key>offset</key>
				<string>{0,2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{57,60}</string>
			</dict>
			<key>gameselectlayer/15.png</key>
			<dict>
				<key>frame</key>
				<string>{{158,345},{50,41}}</string>
				<key>offset</key>
				<string>{1,1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{57,60}</string>
			</dict>
			<key>gameselectlayer/13.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,929},{201,54}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{202,54}</string>
			</dict>
			<key>gameselectlayer/t1.png</key>
			<dict>
				<key>frame</key>
				<string>{{384,508},{136,54}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{136,54}</string>
			</dict>
			<key>gameselectlayer/t2.png</key>
			<dict>
				<key>frame</key>
				<string>{{97,465},{57,52}}</string>
				<key>offset</key>
				<string>{0,-4}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{57,60}</string>
			</dict>
			<key>item/1000.png</key>
			<dict>
				<key>frame</key>
				<string>{{893,1},{122,126}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{122,126}</string>
			</dict>
			<key>item/1001.png</key>
			<dict>
				<key>frame</key>
				<string>{{893,125},{122,126}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{122,126}</string>
			</dict>
			<key>item/1002.png</key>
			<dict>
				<key>frame</key>
				<string>{{893,249},{122,126}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{122,126}</string>
			</dict>
			<key>item/1003.png</key>
			<dict>
				<key>frame</key>
				<string>{{690,373},{122,126}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{122,126}</string>
			</dict>
			<key>item/1004.png</key>
			<dict>
				<key>frame</key>
				<string>{{690,501},{122,126}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{122,126}</string>
			</dict>
			<key>item/1005.png</key>
			<dict>
				<key>frame</key>
				<string>{{814,373},{122,126}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{122,126}</string>
			</dict>
			<key>item/1006.png</key>
			<dict>
				<key>frame</key>
				<string>{{817,625},{122,126}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{122,126}</string>
			</dict>
			<key>item/1007.png</key>
			<dict>
				<key>frame</key>
				<string>{{818,501},{122,126}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{122,126}</string>
			</dict>
			<key>item/1008.png</key>
			<dict>
				<key>frame</key>
				<string>{{893,749},{122,126}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{122,126}</string>
			</dict>
			<key>item/1009.png</key>
			<dict>
				<key>frame</key>
				<string>{{893,873},{122,126}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{122,126}</string>
			</dict>
			<key>item/1010.png</key>
			<dict>
				<key>frame</key>
				<string>{{690,1},{122,126}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{122,126}</string>
			</dict>
			<key>item/999.png</key>
			<dict>
				<key>frame</key>
				<string>{{690,125},{122,126}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{122,126}</string>
			</dict>
			<key>uibglayer/basin.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{443,342}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{443,342}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>gameselectlayer.png</string>
			<key>realTextureFileName</key>
			<string>gameselectlayer.png</string>
			<key>size</key>
			<string>{1024,1024}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1024</integer>
			<key>height</key>
			<integer>1024</integer>
		</dict>
	</dict>
</plist>