<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>pngdata/gameplayeffect/cool.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,204},{418,199}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{418,199}</string>
			</dict>
			<key>pngdata/gameplayeffect/good.png</key>
			<dict>
				<key>frame</key>
				<string>{{581,1},{453,225}}</string>
				<key>offset</key>
				<string>{0,-6}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{453,238}</string>
			</dict>
			<key>pngdata/gameplayeffect/great.png</key>
			<dict>
				<key>frame</key>
				<string>{{808,1},{479,200}}</string>
				<key>offset</key>
				<string>{-2,-1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{482,201}</string>
			</dict>
			<key>pngdata/gameplayeffect/countdown1.png</key>
			<dict>
				<key>frame</key>
				<string>{{184,757},{111,165}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{111,165}</string>
			</dict>
			<key>pngdata/gameplayeffect/countdown2.png</key>
			<dict>
				<key>frame</key>
				<string>{{578,456},{148,167}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{148,167}</string>
			</dict>
			<key>pngdata/gameplayeffect/countdown3.png</key>
			<dict>
				<key>frame</key>
				<string>{{551,606},{145,169}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{145,169}</string>
			</dict>
			<key>pngdata/gameplayeffect/countdowngo.png</key>
			<dict>
				<key>frame</key>
				<string>{{373,450},{368,176}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{368,176}</string>
			</dict>
			<key>pngdata/gameplayeffect/comboxpng2.png</key>
			<dict>
				<key>frame</key>
				<string>{{310,405},{192,61}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{192,61}</string>
			</dict>
			<key>pngdata/gameplayeffect/comboxpng3.png</key>
			<dict>
				<key>frame</key>
				<string>{{297,599},{192,61}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{192,61}</string>
			</dict>
			<key>pngdata/gameplayeffect/comboxpng4.png</key>
			<dict>
				<key>frame</key>
				<string>{{747,456},{192,54}}</string>
				<key>offset</key>
				<string>{0,-3}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{192,61}</string>
			</dict>
			<key>pngdata/gameplayeffect/comboxpng5.png</key>
			<dict>
				<key>frame</key>
				<string>{{297,793},{192,60}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{192,61}</string>
			</dict>
			<key>pngdata/gameplayeffect/wineffectpng1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,456},{294,299}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{350,350}</string>
			</dict>
			<key>pngdata/gameplayeffect/wineffectpng2.png</key>
			<dict>
				<key>frame</key>
				<string>{{419,430},{24,18}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{24,18}</string>
			</dict>
			<key>pngdata/gameplayeffect/wineffectpng3.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1002},{20,20}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{20,20}</string>
			</dict>
			<key>pngdata/gameplayeffect/wineffectpng4.png</key>
			<dict>
				<key>frame</key>
				<string>{{803,482},{146,149}}</string>
				<key>offset</key>
				<string>{-5,5}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{220,229}</string>
			</dict>
			<key>pngdata/gameplayeffect/wineffectpng5.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{578,201}}</string>
				<key>offset</key>
				<string>{-7,-2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{592,206}</string>
			</dict>
			<key>pngdata/gameplayeffect/wineffectpng6.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,941},{167,59}}</string>
				<key>offset</key>
				<string>{-3,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{220,79}</string>
			</dict>
			<key>pngdata/gameplayeffect/gameplaystart2.png</key>
			<dict>
				<key>frame</key>
				<string>{{864,745},{146,149}}</string>
				<key>offset</key>
				<string>{-5,5}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{220,229}</string>
			</dict>
			<key>pngdata/gameplayeffect/gameplaystart3.png</key>
			<dict>
				<key>frame</key>
				<string>{{169,405},{47,47}}</string>
				<key>offset</key>
				<string>{-1,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{62,60}</string>
			</dict>
			<key>pngdata/gameplayeffect/gameplaystart4.png</key>
			<dict>
				<key>frame</key>
				<string>{{445,430},{24,18}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{24,18}</string>
			</dict>
			<key>pngdata/gameplayeffect/prompteffect1.png</key>
			<dict>
				<key>frame</key>
				<string>{{218,405},{44,44}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{44,44}</string>
			</dict>
			<key>pngdata/gameplayeffect/prompteffect2.png</key>
			<dict>
				<key>frame</key>
				<string>{{264,405},{44,44}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{44,44}</string>
			</dict>
			<key>pngdata/gameplayeffect/finger.png</key>
			<dict>
				<key>frame</key>
				<string>{{622,928},{76,76}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{76,76}</string>
			</dict>
			<key>pngdata/gameplayeffect/pettopeffect1.png</key>
			<dict>
				<key>frame</key>
				<string>{{359,945},{35,35}}</string>
				<key>offset</key>
				<string>{-2,2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{47,47}</string>
			</dict>
			<key>pngdata/gameplayeffect/pettopeffect2.png</key>
			<dict>
				<key>frame</key>
				<string>{{359,820},{226,123}}</string>
				<key>offset</key>
				<string>{-1,16}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{256,158}</string>
			</dict>
			<key>pngdata/gameplayeffect/pettopeffect3.png</key>
			<dict>
				<key>frame</key>
				<string>{{551,469},{25,24}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{37,35}</string>
			</dict>
			<key>pngdata/gameplayeffect/leafeffect1.png</key>
			<dict>
				<key>frame</key>
				<string>{{471,430},{16,23}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{16,23}</string>
			</dict>
			<key>pngdata/gameplayeffect/leafeffect2.png</key>
			<dict>
				<key>frame</key>
				<string>{{273,924},{22,24}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{22,24}</string>
			</dict>
			<key>pngdata/gameplayeffect/leafeffect3.png</key>
			<dict>
				<key>frame</key>
				<string>{{110,405},{46,57}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{46,57}</string>
			</dict>
			<key>pngdata/gameplayeffect/leafeffect4.png</key>
			<dict>
				<key>frame</key>
				<string>{{273,950},{21,23}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{21,23}</string>
			</dict>
			<key>pngdata/gameplayeffect/leafeffect5.png</key>
			<dict>
				<key>frame</key>
				<string>{{793,650},{67,69}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{67,69}</string>
			</dict>
			<key>pngdata/gameplayeffect/leafeffect6.png</key>
			<dict>
				<key>frame</key>
				<string>{{1010,1},{9,8}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{9,8}</string>
			</dict>
			<key>pngdata/gameplayeffect/stepimg0.png</key>
			<dict>
				<key>frame</key>
				<string>{{492,978},{32,36}}</string>
				<key>offset</key>
				<string>{1,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{34,38}</string>
			</dict>
			<key>pngdata/gameplayeffect/stepimg1.png</key>
			<dict>
				<key>frame</key>
				<string>{{273,998},{25,36}}</string>
				<key>offset</key>
				<string>{-4,1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{34,38}</string>
			</dict>
			<key>pngdata/gameplayeffect/stepimg2.png</key>
			<dict>
				<key>frame</key>
				<string>{{474,945},{31,36}}</string>
				<key>offset</key>
				<string>{0,1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{34,38}</string>
			</dict>
			<key>pngdata/gameplayeffect/stepimg3.png</key>
			<dict>
				<key>frame</key>
				<string>{{512,945},{31,36}}</string>
				<key>offset</key>
				<string>{-1,1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{34,38}</string>
			</dict>
			<key>pngdata/gameplayeffect/stepimg4.png</key>
			<dict>
				<key>frame</key>
				<string>{{396,945},{33,36}}</string>
				<key>offset</key>
				<string>{-1,1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{34,38}</string>
			</dict>
			<key>pngdata/gameplayeffect/stepimg5.png</key>
			<dict>
				<key>frame</key>
				<string>{{550,945},{31,36}}</string>
				<key>offset</key>
				<string>{0,1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{34,38}</string>
			</dict>
			<key>pngdata/gameplayeffect/stepimg6.png</key>
			<dict>
				<key>frame</key>
				<string>{{424,980},{33,36}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{34,38}</string>
			</dict>
			<key>pngdata/gameplayeffect/stepimg7.png</key>
			<dict>
				<key>frame</key>
				<string>{{526,978},{32,36}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{34,38}</string>
			</dict>
			<key>pngdata/gameplayeffect/stepimg8.png</key>
			<dict>
				<key>frame</key>
				<string>{{560,978},{32,36}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{34,38}</string>
			</dict>
			<key>pngdata/gameplayeffect/stepimg9.png</key>
			<dict>
				<key>frame</key>
				<string>{{588,928},{32,36}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{34,38}</string>
			</dict>
			<key>pngdata/gameplayeffect/stepimgwhite1.png</key>
			<dict>
				<key>frame</key>
				<string>{{551,430},{25,37}}</string>
				<key>offset</key>
				<string>{-4,2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{45,45}</string>
			</dict>
			<key>pngdata/gameplayeffect/stepimgwhite2.png</key>
			<dict>
				<key>frame</key>
				<string>{{390,982},{32,38}}</string>
				<key>offset</key>
				<string>{-2,2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{45,47}</string>
			</dict>
			<key>pngdata/gameplayeffect/stepimgwhite3.png</key>
			<dict>
				<key>frame</key>
				<string>{{434,945},{31,38}}</string>
				<key>offset</key>
				<string>{-2,2}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{45,47}</string>
			</dict>
			<key>pngdata/gameplayeffect/stepimgwhite4.png</key>
			<dict>
				<key>frame</key>
				<string>{{349,987},{33,39}}</string>
				<key>offset</key>
				<string>{-2,2}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{45,47}</string>
			</dict>
			<key>pngdata/gameplayeffect/stepimgwhite5.png</key>
			<dict>
				<key>frame</key>
				<string>{{459,978},{31,38}}</string>
				<key>offset</key>
				<string>{-1,2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{45,47}</string>
			</dict>
			<key>pngdata/gameplayeffect/itemaddeffect1.png</key>
			<dict>
				<key>frame</key>
				<string>{{373,405},{44,43}}</string>
				<key>offset</key>
				<string>{-5,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{54,43}</string>
			</dict>
			<key>pngdata/gameplayeffect/itemaddeffect2.png</key>
			<dict>
				<key>frame</key>
				<string>{{587,809},{117,117}}</string>
				<key>offset</key>
				<string>{-2,2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{126,126}</string>
			</dict>
			<key>pngdata/gameplayeffect/refreshvictoryconditioneffect1.png</key>
			<dict>
				<key>frame</key>
				<string>{{706,753},{156,156}}</string>
				<key>offset</key>
				<string>{-2,2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{162,162}</string>
			</dict>
			<key>pngdata/gameplayeffect/refreshvictoryconditioneffect2.png</key>
			<dict>
				<key>frame</key>
				<string>{{606,753},{32,34}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{48,50}</string>
			</dict>
			<key>pngdata/gameplayeffect/refreshvictoryconditioneffect3.png</key>
			<dict>
				<key>frame</key>
				<string>{{273,975},{22,21}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{34,33}</string>
			</dict>
			<key>pngdata/gameplayeffect/wineffectpng51.png</key>
			<dict>
				<key>frame</key>
				<string>{{421,204},{224,155}}</string>
				<key>offset</key>
				<string>{4,-29}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{271,248}</string>
			</dict>
			<key>pngdata/gridskin/grid7effect033.png</key>
			<dict>
				<key>frame</key>
				<string>{{772,911},{115,112}}</string>
				<key>offset</key>
				<string>{0,-3}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{265,265}</string>
			</dict>
			<key>pngdata/gridskin/grid7effect034.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,405},{43,107}}</string>
				<key>offset</key>
				<string>{-22,-3}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{265,265}</string>
			</dict>
			<key>pngdata/gridskin/grid7bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,757},{181,182}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{265,265}</string>
			</dict>
			<key>pngdata/gameplayeffect/endgrideffect1.png</key>
			<dict>
				<key>frame</key>
				<string>{{722,650},{69,69}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{69,69}</string>
			</dict>
			<key>pngdata/gameplayeffect/gridendeffectpng1.png</key>
			<dict>
				<key>frame</key>
				<string>{{640,753},{28,28}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{131,131}</string>
			</dict>
			<key>pngdata/gameplayeffect/gridendeffectpng10.png</key>
			<dict>
				<key>frame</key>
				<string>{{862,633},{110,110}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{131,131}</string>
			</dict>
			<key>pngdata/gameplayeffect/gridendeffectpng2.png</key>
			<dict>
				<key>frame</key>
				<string>{{311,987},{36,36}}</string>
				<key>offset</key>
				<string>{-1,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{131,131}</string>
			</dict>
			<key>pngdata/gameplayeffect/gridendeffectpng3.png</key>
			<dict>
				<key>frame</key>
				<string>{{551,753},{53,54}}</string>
				<key>offset</key>
				<string>{0,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{131,131}</string>
			</dict>
			<key>pngdata/gameplayeffect/gridendeffectpng4.png</key>
			<dict>
				<key>frame</key>
				<string>{{700,928},{70,70}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{131,131}</string>
			</dict>
			<key>pngdata/gameplayeffect/gridendeffectpng5.png</key>
			<dict>
				<key>frame</key>
				<string>{{184,924},{88,87}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{131,131}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>gameplayeffect2.png</string>
			<key>realTextureFileName</key>
			<string>gameplayeffect2.png</string>
			<key>size</key>
			<string>{1024,1024}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1024</integer>
			<key>height</key>
			<integer>1024</integer>
		</dict>
	</dict>
</plist>