<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>pngdata/gameplayeffect/grideffect1png1.png</key>
			<dict>
				<key>frame</key>
				<string>{{595,830},{28,28}}</string>
				<key>offset</key>
				<string>{0,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{110,110}</string>
			</dict>
			<key>pngdata/gameplayeffect/grideffect1png10.png</key>
			<dict>
				<key>frame</key>
				<string>{{755,412},{110,109}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{110,110}</string>
			</dict>
			<key>pngdata/gameplayeffect/grideffect1png2.png</key>
			<dict>
				<key>frame</key>
				<string>{{595,760},{35,36}}</string>
				<key>offset</key>
				<string>{-1,-2}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{110,110}</string>
			</dict>
			<key>pngdata/gameplayeffect/grideffect1png3.png</key>
			<dict>
				<key>frame</key>
				<string>{{963,848},{53,53}}</string>
				<key>offset</key>
				<string>{0,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{110,110}</string>
			</dict>
			<key>pngdata/gameplayeffect/grideffect1png4.png</key>
			<dict>
				<key>frame</key>
				<string>{{773,85},{70,70}}</string>
				<key>offset</key>
				<string>{0,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{110,110}</string>
			</dict>
			<key>pngdata/gameplayeffect/grideffect1png5.png</key>
			<dict>
				<key>frame</key>
				<string>{{602,94},{87,86}}</string>
				<key>offset</key>
				<string>{-1,-1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{110,110}</string>
			</dict>
			<key>pngdata/gameplayeffect/grideffect1png6.png</key>
			<dict>
				<key>frame</key>
				<string>{{398,107},{102,103}}</string>
				<key>offset</key>
				<string>{-1,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{110,110}</string>
			</dict>
			<key>pngdata/gameplayeffect/grideffect1png7.png</key>
			<dict>
				<key>frame</key>
				<string>{{594,1},{90,91}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{110,110}</string>
			</dict>
			<key>pngdata/gameplayeffect/grideffect1png8.png</key>
			<dict>
				<key>frame</key>
				<string>{{502,106},{98,98}}</string>
				<key>offset</key>
				<string>{0,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{110,110}</string>
			</dict>
			<key>pngdata/gameplayeffect/grideffect1png9.png</key>
			<dict>
				<key>frame</key>
				<string>{{384,1},{104,104}}</string>
				<key>offset</key>
				<string>{0,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{110,110}</string>
			</dict>
			<key>pngdata/gameplayeffect/linecolumneffect1.png</key>
			<dict>
				<key>frame</key>
				<string>{{963,760},{86,50}}</string>
				<key>offset</key>
				<string>{295,2}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{830,94}</string>
			</dict>
			<key>pngdata/gameplayeffect/linecolumneffect10.png</key>
			<dict>
				<key>frame</key>
				<string>{{867,1},{625,59}}</string>
				<key>offset</key>
				<string>{-21,2}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{830,94}</string>
			</dict>
			<key>pngdata/gameplayeffect/linecolumneffect11.png</key>
			<dict>
				<key>frame</key>
				<string>{{235,241},{630,61}}</string>
				<key>offset</key>
				<string>{-47,2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{830,94}</string>
			</dict>
			<key>pngdata/gameplayeffect/linecolumneffect12.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,937},{631,62}}</string>
				<key>offset</key>
				<string>{-74,2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{830,94}</string>
			</dict>
			<key>pngdata/gameplayeffect/linecolumneffect13.png</key>
			<dict>
				<key>frame</key>
				<string>{{435,523},{281,49}}</string>
				<key>offset</key>
				<string>{55,5}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{830,94}</string>
			</dict>
			<key>pngdata/gameplayeffect/linecolumneffect14.png</key>
			<dict>
				<key>frame</key>
				<string>{{435,460},{282,41}}</string>
				<key>offset</key>
				<string>{46,7}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{830,94}</string>
			</dict>
			<key>pngdata/gameplayeffect/linecolumneffect15.png</key>
			<dict>
				<key>frame</key>
				<string>{{406,679},{165,30}}</string>
				<key>offset</key>
				<string>{96,13}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{830,94}</string>
			</dict>
			<key>pngdata/gameplayeffect/linecolumneffect16.png</key>
			<dict>
				<key>frame</key>
				<string>{{232,679},{172,29}}</string>
				<key>offset</key>
				<string>{80,14}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{830,94}</string>
			</dict>
			<key>pngdata/gameplayeffect/linecolumneffect2.png</key>
			<dict>
				<key>frame</key>
				<string>{{634,930},{327,56}}</string>
				<key>offset</key>
				<string>{188,2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{830,94}</string>
			</dict>
			<key>pngdata/gameplayeffect/linecolumneffect3.png</key>
			<dict>
				<key>frame</key>
				<string>{{240,156},{156,64}}</string>
				<key>offset</key>
				<string>{276,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{830,94}</string>
			</dict>
			<key>pngdata/gameplayeffect/linecolumneffect4.png</key>
			<dict>
				<key>frame</key>
				<string>{{437,711},{580,47}}</string>
				<key>offset</key>
				<string>{83,3}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{830,94}</string>
			</dict>
			<key>pngdata/gameplayeffect/linecolumneffect5.png</key>
			<dict>
				<key>frame</key>
				<string>{{235,412},{518,46}}</string>
				<key>offset</key>
				<string>{102,2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{830,94}</string>
			</dict>
			<key>pngdata/gameplayeffect/linecolumneffect6.png</key>
			<dict>
				<key>frame</key>
				<string>{{435,628},{588,49}}</string>
				<key>offset</key>
				<string>{66,3}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{830,94}</string>
			</dict>
			<key>pngdata/gameplayeffect/linecolumneffect7.png</key>
			<dict>
				<key>frame</key>
				<string>{{235,359},{595,51}}</string>
				<key>offset</key>
				<string>{48,3}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{830,94}</string>
			</dict>
			<key>pngdata/gameplayeffect/linecolumneffect8.png</key>
			<dict>
				<key>frame</key>
				<string>{{235,304},{603,53}}</string>
				<key>offset</key>
				<string>{31,2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{830,94}</string>
			</dict>
			<key>pngdata/gameplayeffect/linecolumneffect9.png</key>
			<dict>
				<key>frame</key>
				<string>{{928,1},{615,56}}</string>
				<key>offset</key>
				<string>{5,2}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{830,94}</string>
			</dict>
			<key>pngdata/gameplayeffect/magicwand1.png</key>
			<dict>
				<key>frame</key>
				<string>{{686,1},{86,85}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{86,85}</string>
			</dict>
			<key>pngdata/gameplayeffect/magicwand2.png</key>
			<dict>
				<key>frame</key>
				<string>{{595,797},{31,31}}</string>
				<key>offset</key>
				<string>{-2,2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{36,36}</string>
			</dict>
			<key>pngdata/gameplayeffect/magicwandpng1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,476},{229,233}}</string>
				<key>offset</key>
				<string>{-5,-2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{238,238}</string>
			</dict>
			<key>pngdata/gameplayeffect/magicwandpng2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{237,238}}</string>
				<key>offset</key>
				<string>{-1,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{238,238}</string>
			</dict>
			<key>pngdata/gameplayeffect/magicwandpng3.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,241},{232,233}}</string>
				<key>offset</key>
				<string>{-1,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{235,234}</string>
			</dict>
			<key>pngdata/gameplayeffect/magicwandpng4.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,711},{221,224}}</string>
				<key>offset</key>
				<string>{-3,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{235,234}</string>
			</dict>
			<key>pngdata/gameplayeffect/magicwandpng5.png</key>
			<dict>
				<key>frame</key>
				<string>{{224,711},{211,214}}</string>
				<key>offset</key>
				<string>{-5,-3}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{238,238}</string>
			</dict>
			<key>pngdata/gameplayeffect/magicwandpng6.png</key>
			<dict>
				<key>frame</key>
				<string>{{232,476},{201,201}}</string>
				<key>offset</key>
				<string>{-4,-2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{238,238}</string>
			</dict>
			<key>pngdata/gameplayeffect/portal01.png</key>
			<dict>
				<key>frame</key>
				<string>{{634,760},{146,168}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{146,168}</string>
			</dict>
			<key>pngdata/gameplayeffect/portal02.png</key>
			<dict>
				<key>frame</key>
				<string>{{27,1001},{4,7}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{4,8}</string>
			</dict>
			<key>pngdata/gameplayeffect/portal03.png</key>
			<dict>
				<key>frame</key>
				<string>{{718,523},{102,115}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{102,115}</string>
			</dict>
			<key>pngdata/gameplayeffect/portal04.png</key>
			<dict>
				<key>frame</key>
				<string>{{27,1010},{4,7}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{4,8}</string>
			</dict>
			<key>pngdata/gameplayeffect/portal05.png</key>
			<dict>
				<key>frame</key>
				<string>{{27,1019},{4,7}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{4,8}</string>
			</dict>
			<key>pngdata/gameplayeffect/selectedgrid1.png</key>
			<dict>
				<key>frame</key>
				<string>{{773,1},{82,83}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{83,83}</string>
			</dict>
			<key>pngdata/gameplayeffect/addleveleffect1.png</key>
			<dict>
				<key>frame</key>
				<string>{{437,760},{156,156}}</string>
				<key>offset</key>
				<string>{-2,2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{162,162}</string>
			</dict>
			<key>pngdata/gameplayeffect/addleveleffect2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1001},{24,18}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{24,18}</string>
			</dict>
			<key>pngdata/gameplayeffect/addleveleffect3.png</key>
			<dict>
				<key>frame</key>
				<string>{{240,1},{142,153}}</string>
				<key>offset</key>
				<string>{-2,2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{168,168}</string>
			</dict>
			<key>pngdata/gameplayeffect/addleveleffect4.png</key>
			<dict>
				<key>frame</key>
				<string>{{782,760},{146,149}}</string>
				<key>offset</key>
				<string>{-5,5}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{220,229}</string>
			</dict>
			<key>pngdata/gameplayeffect/gridendeffectpng6.png</key>
			<dict>
				<key>frame</key>
				<string>{{490,1},{102,103}}</string>
				<key>offset</key>
				<string>{-1,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{131,131}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>gameplayeffect1.png</string>
			<key>realTextureFileName</key>
			<string>gameplayeffect1.png</string>
			<key>size</key>
			<string>{1024,1024}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1024</integer>
			<key>height</key>
			<integer>1024</integer>
		</dict>
	</dict>
</plist>