<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>gameplaylayer/lgridbox1_ltboxsquare_leboxsquare_.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,314},{91,91}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{91,91}</string>
			</dict>
			<key>gameplaylayer/outtopleft_tgridbox_tlboxsquare_lgridbox1_ltboxsquare_leboxsquare_.png</key>
			<dict>
				<key>frame</key>
				<string>{{94,314},{91,91}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{91,91}</string>
			</dict>
			<key>gameplaylayer/lgridbox1_ltboxsquare_leboxsquare_rgridbox1_reboxsquare_.png</key>
			<dict>
				<key>frame</key>
				<string>{{187,314},{91,91}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{91,91}</string>
			</dict>
			<key>gameplaylayer/outtopleft_tgridbox_tlboxsquare_trboxsquare_lgridbox1_ltboxsquare_leboxsquare_.png</key>
			<dict>
				<key>frame</key>
				<string>{{280,324},{91,91}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{91,91}</string>
			</dict>
			<key>gameplaylayer/outendleft_lgridbox1_ltboxsquare_leboxsquare_egridbox_elboxsquare_erboxsquare_.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,407},{91,91}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{91,91}</string>
			</dict>
			<key>gameplaylayer/egridbox_elboxsquare_erboxsquare_.png</key>
			<dict>
				<key>frame</key>
				<string>{{94,407},{91,91}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{91,91}</string>
			</dict>
			<key>gameplaylayer/rgridbox1_reboxsquare_.png</key>
			<dict>
				<key>frame</key>
				<string>{{187,407},{91,91}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{91,91}</string>
			</dict>
			<key>gameplaylayer/tgridbox_trboxsquare_.png</key>
			<dict>
				<key>frame</key>
				<string>{{373,391},{91,91}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{91,91}</string>
			</dict>
			<key>gameplaylayer/rgridbox1_reboxsquare_egridbox_elboxsquare_erboxsquare_.png</key>
			<dict>
				<key>frame</key>
				<string>{{280,417},{91,91}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{91,91}</string>
			</dict>
			<key>gameplaylayer/tgridbox_egridbox_elboxsquare_erboxsquare_.png</key>
			<dict>
				<key>frame</key>
				<string>{{466,391},{91,91}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{91,91}</string>
			</dict>
			<key>gameplaylayer/tgridbox_tlboxsquare_rgridbox1_reboxsquare_egridbox_elboxsquare_erboxsquare_.png</key>
			<dict>
				<key>frame</key>
				<string>{{559,391},{91,91}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{91,91}</string>
			</dict>
			<key>gameplaylayer/tgridbox_tlboxsquare_trboxsquare_egridbox_elboxsquare_erboxsquare_.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,500},{91,91}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{91,91}</string>
			</dict>
			<key>gameplaylayer/outendleft_lgridbox1_leboxsquare_egridbox_elboxsquare_erboxsquare_.png</key>
			<dict>
				<key>frame</key>
				<string>{{94,500},{91,91}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{91,91}</string>
			</dict>
			<key>gameplaylayer/outendright_lgridbox1_leboxsquare_rgridbox1_reboxsquare_egridbox_elboxsquare_erboxsquare_.png</key>
			<dict>
				<key>frame</key>
				<string>{{187,500},{91,91}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{91,91}</string>
			</dict>
			<key>gameplaylayer/tgridbox_tlboxsquare_trboxsquare_.png</key>
			<dict>
				<key>frame</key>
				<string>{{373,484},{91,91}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{91,91}</string>
			</dict>
			<key>gameplaylayer/outendright_tgridbox_lgridbox1_leboxsquare_rgridbox1_reboxsquare_egridbox_elboxsquare_erboxsquare_.png</key>
			<dict>
				<key>frame</key>
				<string>{{280,510},{91,91}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{91,91}</string>
			</dict>
			<key>gameplaylayer/outtopright_tgridbox_trboxsquare_lgridbox1_leboxsquare_rgridbox1_rtboxsquare_reboxsquare_.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,593},{91,91}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{91,91}</string>
			</dict>
			<key>gameplaylayer/outtopleft_outtopright_outendleft_outendright_tgridbox_tlboxsquare_trboxsquare_lgridbox1_ltboxsquare_leboxsquare_rgridbox1_rtboxsquare_reboxsquare_egridbox_elboxsquare_erboxsquare_.png</key>
			<dict>
				<key>frame</key>
				<string>{{94,593},{91,91}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{91,91}</string>
			</dict>
			<key>gameplaylayer/outtopleft_outtopright_outendright_tgridbox_tlboxsquare_trboxsquare_lgridbox1_ltboxsquare_leboxsquare_rgridbox1_rtboxsquare_reboxsquare_egridbox_elboxsquare_erboxsquare_.png</key>
			<dict>
				<key>frame</key>
				<string>{{187,593},{91,91}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{91,91}</string>
			</dict>
			<key>gameplaylayer/outtopright_outendright_tgridbox_tlboxsquare_trboxsquare_rgridbox1_rtboxsquare_reboxsquare_egridbox_elboxsquare_erboxsquare_.png</key>
			<dict>
				<key>frame</key>
				<string>{{466,484},{91,91}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{91,91}</string>
			</dict>
			<key>gameplaylayer/inendleft.png</key>
			<dict>
				<key>frame</key>
				<string>{{988,1},{7,7}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{7,7}</string>
			</dict>
			<key>gameplaylayer/inendright.png</key>
			<dict>
				<key>frame</key>
				<string>{{997,1},{7,7}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{7,7}</string>
			</dict>
			<key>gameplaylayer/intopleft.png</key>
			<dict>
				<key>frame</key>
				<string>{{1006,1},{7,7}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{7,7}</string>
			</dict>
			<key>gameplaylayer/intopright.png</key>
			<dict>
				<key>frame</key>
				<string>{{1015,1},{7,7}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{7,7}</string>
			</dict>
			<key>gameplaylayer/outendright_tgridbox_rgridbox1_reboxsquare_egridbox_elboxsquare_erboxsquare_.png</key>
			<dict>
				<key>frame</key>
				<string>{{559,484},{91,91}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{91,91}</string>
			</dict>
			<key>gameplaylayer/outendright_rgridbox1_rtboxsquare_reboxsquare_egridbox_elboxsquare_erboxsquare_.png</key>
			<dict>
				<key>frame</key>
				<string>{{652,492},{91,91}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{91,91}</string>
			</dict>
			<key>gameplaylayer/outtopright_tgridbox_tlboxsquare_trboxsquare_rgridbox1_rtboxsquare_reboxsquare_.png</key>
			<dict>
				<key>frame</key>
				<string>{{373,577},{91,91}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{91,91}</string>
			</dict>
			<key>gameplaylayer/rgridbox1_rtboxsquare_reboxsquare_.png</key>
			<dict>
				<key>frame</key>
				<string>{{280,603},{91,91}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{91,91}</string>
			</dict>
			<key>gameplaylayer/outtopright_tgridbox_trboxsquare_rgridbox1_rtboxsquare_reboxsquare_.png</key>
			<dict>
				<key>frame</key>
				<string>{{466,577},{91,91}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{91,91}</string>
			</dict>
			<key>gameplaylayer/lgridbox1_leboxsquare_.png</key>
			<dict>
				<key>frame</key>
				<string>{{559,577},{91,91}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{91,91}</string>
			</dict>
			<key>gameplaylayer/outendright_rgridbox1_reboxsquare_egridbox_elboxsquare_erboxsquare_.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,686},{91,91}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{91,91}</string>
			</dict>
			<key>gameplaylayer/tgridbox_tlboxsquare_.png</key>
			<dict>
				<key>frame</key>
				<string>{{94,686},{91,91}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{91,91}</string>
			</dict>
			<key>gameplaylayer/outtopleft_outendleft_tgridbox_tlboxsquare_trboxsquare_lgridbox1_ltboxsquare_leboxsquare_egridbox_elboxsquare_erboxsquare_.png</key>
			<dict>
				<key>frame</key>
				<string>{{187,686},{91,91}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{91,91}</string>
			</dict>
			<key>gameplaylayer/outtopright_outendright_tgridbox_trboxsquare_rgridbox1_rtboxsquare_reboxsquare_egridbox_elboxsquare_erboxsquare_.png</key>
			<dict>
				<key>frame</key>
				<string>{{745,492},{91,91}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{91,91}</string>
			</dict>
			<key>gameplaylayer/outtopright_tgridbox_tlboxsquare_trboxsquare_rgridbox1_rtboxsquare_reboxsquare_egridbox_elboxsquare_erboxsquare_.png</key>
			<dict>
				<key>frame</key>
				<string>{{838,492},{91,91}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{91,91}</string>
			</dict>
			<key>gameplaylayer/tgridbox_.png</key>
			<dict>
				<key>frame</key>
				<string>{{931,492},{91,91}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{91,91}</string>
			</dict>
			<key>gameplaylayer/outtopleft_outendleft_tgridbox_tlboxsquare_lgridbox1_ltboxsquare_leboxsquare_egridbox_elboxsquare_erboxsquare_.png</key>
			<dict>
				<key>frame</key>
				<string>{{652,585},{91,91}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{91,91}</string>
			</dict>
			<key>gameplaylayer/outtopleft_outtopright_outendleft_tgridbox_tlboxsquare_trboxsquare_lgridbox1_ltboxsquare_leboxsquare_rgridbox1_rtboxsquare_reboxsquare_egridbox_elboxsquare_erboxsquare_.png</key>
			<dict>
				<key>frame</key>
				<string>{{373,670},{91,91}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{91,91}</string>
			</dict>
			<key>gameplaylayer/outtopleft_outtopright_tgridbox_tlboxsquare_trboxsquare_lgridbox1_ltboxsquare_leboxsquare_rgridbox1_rtboxsquare_reboxsquare_.png</key>
			<dict>
				<key>frame</key>
				<string>{{280,696},{91,91}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{91,91}</string>
			</dict>
			<key>gameplaylayer/tgridbox_lgridbox1_leboxsquare_.png</key>
			<dict>
				<key>frame</key>
				<string>{{466,670},{91,91}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{91,91}</string>
			</dict>
			<key>gameplaylayer/buyitem.png</key>
			<dict>
				<key>frame</key>
				<string>{{432,165},{300,141}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{300,141}</string>
			</dict>
			<key>gameplaylayer/outendleft_tgridbox_lgridbox1_leboxsquare_egridbox_elboxsquare_erboxsquare_.png</key>
			<dict>
				<key>frame</key>
				<string>{{559,670},{91,91}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{91,91}</string>
			</dict>
			<key>gameplaylayer/outtopleft_outendright_tgridbox_tlboxsquare_lgridbox1_ltboxsquare_leboxsquare_rgridbox1_reboxsquare_egridbox_elboxsquare_erboxsquare_.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,779},{91,91}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{91,91}</string>
			</dict>
			<key>gameplaylayer/lgridbox1_ltboxsquare_leboxsquare_egridbox_elboxsquare_erboxsquare_.png</key>
			<dict>
				<key>frame</key>
				<string>{{94,779},{91,91}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{91,91}</string>
			</dict>
			<key>gameplaylayer/rgridbox1_rtboxsquare_reboxsquare_egridbox_elboxsquare_erboxsquare_.png</key>
			<dict>
				<key>frame</key>
				<string>{{187,779},{91,91}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{91,91}</string>
			</dict>
			<key>gameplaylayer/tgridbox_tlboxsquare_rgridbox1_reboxsquare_.png</key>
			<dict>
				<key>frame</key>
				<string>{{745,585},{91,91}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{91,91}</string>
			</dict>
			<key>gameplaylayer/tgridbox_trboxsquare_lgridbox1_leboxsquare_.png</key>
			<dict>
				<key>frame</key>
				<string>{{838,585},{91,91}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{91,91}</string>
			</dict>
			<key>gameplaylayer/outtopleft_tgridbox_tlboxsquare_lgridbox1_ltboxsquare_leboxsquare_rgridbox1_reboxsquare_.png</key>
			<dict>
				<key>frame</key>
				<string>{{931,585},{91,91}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{91,91}</string>
			</dict>
			<key>gameplaylayer/outendleft_outendright_lgridbox1_ltboxsquare_leboxsquare_rgridbox1_rtboxsquare_reboxsquare_egridbox_elboxsquare_erboxsquare_.png</key>
			<dict>
				<key>frame</key>
				<string>{{652,678},{91,91}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{91,91}</string>
			</dict>
			<key>gameplaylayer/lgridbox1_leboxsquare_rgridbox1_reboxsquare_egridbox_elboxsquare_erboxsquare_.png</key>
			<dict>
				<key>frame</key>
				<string>{{373,763},{91,91}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{91,91}</string>
			</dict>
			<key>gameplaylayer/lgridbox1_ltboxsquare_leboxsquare_rgridbox1_rtboxsquare_reboxsquare_.png</key>
			<dict>
				<key>frame</key>
				<string>{{280,789},{91,91}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{91,91}</string>
			</dict>
			<key>gameplaylayer/outendleft_outendright_tgridbox_lgridbox1_leboxsquare_rgridbox1_reboxsquare_egridbox_elboxsquare_erboxsquare_.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,872},{91,91}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{91,91}</string>
			</dict>
			<key>gameplaylayer/outtopleft_outendleft_outendright_tgridbox_tlboxsquare_lgridbox1_ltboxsquare_leboxsquare_rgridbox1_reboxsquare_egridbox_elboxsquare_erboxsquare_.png</key>
			<dict>
				<key>frame</key>
				<string>{{94,872},{91,91}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{91,91}</string>
			</dict>
			<key>gameplaylayer/lgridbox1_leboxsquare_egridbox_elboxsquare_erboxsquare_.png</key>
			<dict>
				<key>frame</key>
				<string>{{187,872},{91,91}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{91,91}</string>
			</dict>
			<key>gameplaylayer/outtopright_outendright_tgridbox_trboxsquare_lgridbox1_leboxsquare_rgridbox1_rtboxsquare_reboxsquare_egridbox_elboxsquare_erboxsquare_.png</key>
			<dict>
				<key>frame</key>
				<string>{{466,763},{91,91}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{91,91}</string>
			</dict>
			<key>gameplaylayer/tgridbox_lgridbox1_leboxsquare_rgridbox1_reboxsquare_.png</key>
			<dict>
				<key>frame</key>
				<string>{{559,763},{91,91}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{91,91}</string>
			</dict>
			<key>gameplaylayer/tgridbox_lgridbox1_leboxsquare_rgridbox1_reboxsquare_egridbox_elboxsquare_erboxsquare_.png</key>
			<dict>
				<key>frame</key>
				<string>{{652,771},{91,91}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{91,91}</string>
			</dict>
			<key>gameplaylayer/outtopleft_outendleft_tgridbox_tlboxsquare_lgridbox1_ltboxsquare_leboxsquare_rgridbox1_reboxsquare_egridbox_elboxsquare_erboxsquare_.png</key>
			<dict>
				<key>frame</key>
				<string>{{373,856},{91,91}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{91,91}</string>
			</dict>
			<key>gameplaylayer/outtopleft_tgridbox_tlboxsquare_trboxsquare_lgridbox1_ltboxsquare_leboxsquare_egridbox_elboxsquare_erboxsquare_.png</key>
			<dict>
				<key>frame</key>
				<string>{{280,882},{91,91}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{91,91}</string>
			</dict>
			<key>gameplaylayer/lgridbox1_leboxsquare_rgridbox1_reboxsquare_.png</key>
			<dict>
				<key>frame</key>
				<string>{{466,856},{91,91}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{91,91}</string>
			</dict>
			<key>gameplaylayer/lgridbox1_leboxsquare_rgridbox1_rtboxsquare_reboxsquare_.png</key>
			<dict>
				<key>frame</key>
				<string>{{559,856},{91,91}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{91,91}</string>
			</dict>
			<key>gameplaylayer/outendleft_lgridbox1_leboxsquare_rgridbox1_reboxsquare_egridbox_elboxsquare_erboxsquare_.png</key>
			<dict>
				<key>frame</key>
				<string>{{652,864},{91,91}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{91,91}</string>
			</dict>
			<key>gameplaylayer/outendleft_lgridbox1_ltboxsquare_leboxsquare_rgridbox1_reboxsquare_egridbox_elboxsquare_erboxsquare_.png</key>
			<dict>
				<key>frame</key>
				<string>{{745,678},{91,91}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{91,91}</string>
			</dict>
			<key>gameplaylayer/outendleft_outendright_lgridbox1_leboxsquare_rgridbox1_rtboxsquare_reboxsquare_egridbox_elboxsquare_erboxsquare_.png</key>
			<dict>
				<key>frame</key>
				<string>{{838,678},{91,91}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{91,91}</string>
			</dict>
			<key>gameplaylayer/outendright_lgridbox1_leboxsquare_rgridbox1_rtboxsquare_reboxsquare_egridbox_elboxsquare_erboxsquare_.png</key>
			<dict>
				<key>frame</key>
				<string>{{931,678},{91,91}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{91,91}</string>
			</dict>
			<key>gameplaylayer/outtopleft_outtopright_tgridbox_tlboxsquare_trboxsquare_lgridbox1_ltboxsquare_leboxsquare_rgridbox1_rtboxsquare_reboxsquare_egridbox_elboxsquare_erboxsquare_.png</key>
			<dict>
				<key>frame</key>
				<string>{{745,771},{91,91}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{91,91}</string>
			</dict>
			<key>gameplaylayer/outtopright_outendleft_outendright_tgridbox_trboxsquare_lgridbox1_leboxsquare_rgridbox1_rtboxsquare_reboxsquare_egridbox_elboxsquare_erboxsquare_.png</key>
			<dict>
				<key>frame</key>
				<string>{{745,864},{91,91}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{91,91}</string>
			</dict>
			<key>gameplaylayer/tgridbox_lgridbox1_leboxsquare_egridbox_elboxsquare_erboxsquare_.png</key>
			<dict>
				<key>frame</key>
				<string>{{838,771},{91,91}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{91,91}</string>
			</dict>
			<key>gameplaylayer/tgridbox_rgridbox1_reboxsquare_.png</key>
			<dict>
				<key>frame</key>
				<string>{{931,771},{91,91}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{91,91}</string>
			</dict>
			<key>gameplaylayer/tgridbox_rgridbox1_reboxsquare_egridbox_elboxsquare_erboxsquare_.png</key>
			<dict>
				<key>frame</key>
				<string>{{838,864},{91,91}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{91,91}</string>
			</dict>
			<key>gameplaylayer/gridbottom.png</key>
			<dict>
				<key>frame</key>
				<string>{{351,245},{77,77}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{77,77}</string>
			</dict>
			<key>gameplaylayer/cloud1.png</key>
			<dict>
				<key>frame</key>
				<string>{{734,303},{283,97}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{283,97}</string>
			</dict>
			<key>gameplaylayer/cloud2.png</key>
			<dict>
				<key>frame</key>
				<string>{{734,165},{281,136}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{281,136}</string>
			</dict>
			<key>gameplaylayer/gemgoldbg.png</key>
			<dict>
				<key>frame</key>
				<string>{{430,308},{220,81}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{220,81}</string>
			</dict>
			<key>gameplaylayer/goldicon1.png</key>
			<dict>
				<key>frame</key>
				<string>{{698,402},{102,88}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{102,88}</string>
			</dict>
			<key>gameplaylayer/goldicon2.png</key>
			<dict>
				<key>frame</key>
				<string>{{802,402},{102,88}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{102,88}</string>
			</dict>
			<key>gameplaylayer/goldicon3.png</key>
			<dict>
				<key>frame</key>
				<string>{{906,402},{102,88}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{102,88}</string>
			</dict>
			<key>gameplaylayer/petshop.png</key>
			<dict>
				<key>frame</key>
				<string>{{652,308},{80,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{80,80}</string>
			</dict>
			<key>gameplaylayer/kuang2.png</key>
			<dict>
				<key>frame</key>
				<string>{{432,1},{554,162}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{554,162}</string>
			</dict>
			<key>gameplaylayer/scorebg.png</key>
			<dict>
				<key>frame</key>
				<string>{{652,390},{86,44}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{86,44}</string>
			</dict>
			<key>gameplaylayer/newbieguidelayer.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{429,242}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{429,242}</string>
			</dict>
			<key>gameplaylayer/gemreproduction.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,245},{348,67}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{348,67}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>gameplaylayer4.png</string>
			<key>realTextureFileName</key>
			<string>gameplaylayer4.png</string>
			<key>size</key>
			<string>{1024,1024}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1024</integer>
			<key>height</key>
			<integer>1024</integer>
		</dict>
	</dict>
</plist>