<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>pngdata/gridskin/waves001.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{78,78}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{78,78}</string>
			</dict>
			<key>pngdata/gridskin/waves002.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,81},{78,78}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{78,78}</string>
			</dict>
			<key>pngdata/gridskin/waves003.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,161},{78,78}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{78,78}</string>
			</dict>
			<key>pngdata/gridskin/waves004.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,241},{78,78}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{78,78}</string>
			</dict>
			<key>pngdata/gridskin/waves005.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,321},{78,78}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{78,78}</string>
			</dict>
			<key>pngdata/gridskin/waves006.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,401},{78,78}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{78,78}</string>
			</dict>
			<key>pngdata/gridskin/waves007.png</key>
			<dict>
				<key>frame</key>
				<string>{{81,1},{78,78}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{78,78}</string>
			</dict>
			<key>pngdata/gridskin/waves008.png</key>
			<dict>
				<key>frame</key>
				<string>{{161,1},{78,78}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{78,78}</string>
			</dict>
			<key>pngdata/gridskin/waves009.png</key>
			<dict>
				<key>frame</key>
				<string>{{241,1},{78,78}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{78,78}</string>
			</dict>
			<key>pngdata/gridskin/waves010.png</key>
			<dict>
				<key>frame</key>
				<string>{{321,1},{78,78}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{78,78}</string>
			</dict>
			<key>pngdata/gridskin/waves011.png</key>
			<dict>
				<key>frame</key>
				<string>{{401,1},{78,78}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{78,78}</string>
			</dict>
			<key>pngdata/gridskin/waves012.png</key>
			<dict>
				<key>frame</key>
				<string>{{81,81},{78,78}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{78,78}</string>
			</dict>
			<key>pngdata/gridskin/waves013.png</key>
			<dict>
				<key>frame</key>
				<string>{{81,161},{78,78}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{78,78}</string>
			</dict>
			<key>pngdata/gridskin/waves014.png</key>
			<dict>
				<key>frame</key>
				<string>{{81,241},{78,78}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{78,78}</string>
			</dict>
			<key>pngdata/gridskin/waves015.png</key>
			<dict>
				<key>frame</key>
				<string>{{81,321},{78,78}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{78,78}</string>
			</dict>
			<key>pngdata/gridskin/waves016.png</key>
			<dict>
				<key>frame</key>
				<string>{{81,401},{78,78}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{78,78}</string>
			</dict>
			<key>pngdata/gridskin/waves017.png</key>
			<dict>
				<key>frame</key>
				<string>{{161,81},{78,78}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{78,78}</string>
			</dict>
			<key>pngdata/gridskin/waves018.png</key>
			<dict>
				<key>frame</key>
				<string>{{241,81},{78,78}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{78,78}</string>
			</dict>
			<key>pngdata/gridskin/wavesup001.png</key>
			<dict>
				<key>frame</key>
				<string>{{321,81},{78,78}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{78,78}</string>
			</dict>
			<key>pngdata/gridskin/wavesup002.png</key>
			<dict>
				<key>frame</key>
				<string>{{401,81},{78,78}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{78,78}</string>
			</dict>
			<key>pngdata/gridskin/wavesup003.png</key>
			<dict>
				<key>frame</key>
				<string>{{161,161},{78,78}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{78,78}</string>
			</dict>
			<key>pngdata/gridskin/wavesup004.png</key>
			<dict>
				<key>frame</key>
				<string>{{161,241},{78,78}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{78,78}</string>
			</dict>
			<key>pngdata/gridskin/wavesup005.png</key>
			<dict>
				<key>frame</key>
				<string>{{161,321},{78,78}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{78,78}</string>
			</dict>
			<key>pngdata/gridskin/wavesup006.png</key>
			<dict>
				<key>frame</key>
				<string>{{161,401},{78,78}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{78,78}</string>
			</dict>
			<key>pngdata/gridskin/wavesup007.png</key>
			<dict>
				<key>frame</key>
				<string>{{241,161},{78,78}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{78,78}</string>
			</dict>
			<key>pngdata/gridskin/wavesup008.png</key>
			<dict>
				<key>frame</key>
				<string>{{321,161},{78,78}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{78,78}</string>
			</dict>
			<key>pngdata/gridskin/wavesup009.png</key>
			<dict>
				<key>frame</key>
				<string>{{401,161},{78,78}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{78,78}</string>
			</dict>
			<key>pngdata/gridskin/wavesup010.png</key>
			<dict>
				<key>frame</key>
				<string>{{241,241},{78,78}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{78,78}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>gridskin5.png</string>
			<key>realTextureFileName</key>
			<string>gridskin5.png</string>
			<key>size</key>
			<string>{512,512}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>512</integer>
			<key>height</key>
			<integer>512</integer>
		</dict>
	</dict>
</plist>