<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>pngdata/gridskin/addiceeffect001.png</key>
			<dict>
				<key>frame</key>
				<string>{{726,768},{74,66}}</string>
				<key>offset</key>
				<string>{0,-4}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{74,74}</string>
			</dict>
			<key>pngdata/gridskin/addiceeffect002.png</key>
			<dict>
				<key>frame</key>
				<string>{{509,732},{74,60}}</string>
				<key>offset</key>
				<string>{0,-7}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{74,74}</string>
			</dict>
			<key>pngdata/gridskin/addiceeffect003.png</key>
			<dict>
				<key>frame</key>
				<string>{{704,317},{74,42}}</string>
				<key>offset</key>
				<string>{0,-16}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{74,74}</string>
			</dict>
			<key>pngdata/gridskin/addiceeffect004.png</key>
			<dict>
				<key>frame</key>
				<string>{{987,292},{74,32}}</string>
				<key>offset</key>
				<string>{0,-21}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{74,74}</string>
			</dict>
			<key>pngdata/gridskin/addiceeffect005.png</key>
			<dict>
				<key>frame</key>
				<string>{{879,139},{73,13}}</string>
				<key>offset</key>
				<string>{0,-30}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{74,74}</string>
			</dict>
			<key>pngdata/gridskin/addiceeffect006.png</key>
			<dict>
				<key>frame</key>
				<string>{{1016,1},{45,4}}</string>
				<key>offset</key>
				<string>{-1,-35}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{74,74}</string>
			</dict>
			<key>pngdata/gridskin/addtime1.png</key>
			<dict>
				<key>frame</key>
				<string>{{425,286},{31,20}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{32,22}</string>
			</dict>
			<key>pngdata/gridskin/addtime2.png</key>
			<dict>
				<key>frame</key>
				<string>{{425,319},{30,20}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{32,22}</string>
			</dict>
			<key>pngdata/gridskin/addtime3.png</key>
			<dict>
				<key>frame</key>
				<string>{{425,351},{30,20}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{32,22}</string>
			</dict>
			<key>pngdata/gridskin/addtime4.png</key>
			<dict>
				<key>frame</key>
				<string>{{275,277},{30,20}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{32,22}</string>
			</dict>
			<key>pngdata/gridskin/addtime5.png</key>
			<dict>
				<key>frame</key>
				<string>{{275,309},{30,20}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{32,22}</string>
			</dict>
			<key>pngdata/gridskin/blisters.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,666},{76,76}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{76,76}</string>
			</dict>
			<key>pngdata/gridskin/blisters001.png</key>
			<dict>
				<key>frame</key>
				<string>{{88,661},{77,77}}</string>
				<key>offset</key>
				<string>{0,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{125,125}</string>
			</dict>
			<key>pngdata/gridskin/blisters002.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,579},{85,85}}</string>
				<key>offset</key>
				<string>{0,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{125,125}</string>
			</dict>
			<key>pngdata/gridskin/blisters003.png</key>
			<dict>
				<key>frame</key>
				<string>{{883,292},{101,102}}</string>
				<key>offset</key>
				<string>{0,1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{125,125}</string>
			</dict>
			<key>pngdata/gridskin/blisters004.png</key>
			<dict>
				<key>frame</key>
				<string>{{447,381},{110,110}}</string>
				<key>offset</key>
				<string>{1,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{125,125}</string>
			</dict>
			<key>pngdata/gridskin/blisters005.png</key>
			<dict>
				<key>frame</key>
				<string>{{581,378},{119,120}}</string>
				<key>offset</key>
				<string>{0,1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{125,125}</string>
			</dict>
			<key>pngdata/gridskin/blisters006.png</key>
			<dict>
				<key>frame</key>
				<string>{{408,579},{85,85}}</string>
				<key>offset</key>
				<string>{0,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{125,125}</string>
			</dict>
			<key>pngdata/gridskin/blisters007.png</key>
			<dict>
				<key>frame</key>
				<string>{{850,513},{94,95}}</string>
				<key>offset</key>
				<string>{0,1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{125,125}</string>
			</dict>
			<key>pngdata/gridskin/blisters008.png</key>
			<dict>
				<key>frame</key>
				<string>{{189,570},{90,82}}</string>
				<key>offset</key>
				<string>{-5,3}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{125,125}</string>
			</dict>
			<key>pngdata/gridskin/blisters009.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,494},{91,83}}</string>
				<key>offset</key>
				<string>{-6,3}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{125,125}</string>
			</dict>
			<key>pngdata/gridskin/blisters010.png</key>
			<dict>
				<key>frame</key>
				<string>{{313,564},{93,85}}</string>
				<key>offset</key>
				<string>{-6,3}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{125,125}</string>
			</dict>
			<key>pngdata/gridskin/blisters011.png</key>
			<dict>
				<key>frame</key>
				<string>{{94,489},{93,85}}</string>
				<key>offset</key>
				<string>{-6,3}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{125,125}</string>
			</dict>
			<key>pngdata/gridskin/blisters012.png</key>
			<dict>
				<key>frame</key>
				<string>{{125,401},{95,86}}</string>
				<key>offset</key>
				<string>{-6,2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{125,125}</string>
			</dict>
			<key>pngdata/gridskin/blisters013.png</key>
			<dict>
				<key>frame</key>
				<string>{{823,609},{96,87}}</string>
				<key>offset</key>
				<string>{-6,3}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{125,125}</string>
			</dict>
			<key>pngdata/gridskin/blisters014.png</key>
			<dict>
				<key>frame</key>
				<string>{{921,641},{96,87}}</string>
				<key>offset</key>
				<string>{-6,3}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{125,125}</string>
			</dict>
			<key>pngdata/gridskin/changeitemeffect1001.png</key>
			<dict>
				<key>frame</key>
				<string>{{275,383},{94,95}}</string>
				<key>offset</key>
				<string>{0,2}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{164,164}</string>
			</dict>
			<key>pngdata/gridskin/changeitemeffect1002.png</key>
			<dict>
				<key>frame</key>
				<string>{{748,492},{100,90}}</string>
				<key>offset</key>
				<string>{0,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{164,164}</string>
			</dict>
			<key>pngdata/gridskin/changeitemeffect1003.png</key>
			<dict>
				<key>frame</key>
				<string>{{444,493},{104,84}}</string>
				<key>offset</key>
				<string>{0,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{164,164}</string>
			</dict>
			<key>pngdata/gridskin/changeitemeffect1004.png</key>
			<dict>
				<key>frame</key>
				<string>{{743,584},{108,78}}</string>
				<key>offset</key>
				<string>{0,1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{164,164}</string>
			</dict>
			<key>pngdata/gridskin/changeitemeffect1005.png</key>
			<dict>
				<key>frame</key>
				<string>{{883,395},{85,116}}</string>
				<key>offset</key>
				<string>{-1,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{164,164}</string>
			</dict>
			<key>pngdata/gridskin/changeitemeffect1006.png</key>
			<dict>
				<key>frame</key>
				<string>{{611,139},{114,148}}</string>
				<key>offset</key>
				<string>{0,1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{164,164}</string>
			</dict>
			<key>pngdata/gridskin/changeitemeffect1007.png</key>
			<dict>
				<key>frame</key>
				<string>{{761,139},{116,143}}</string>
				<key>offset</key>
				<string>{0,2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{164,164}</string>
			</dict>
			<key>pngdata/gridskin/changeitemeffect1008.png</key>
			<dict>
				<key>frame</key>
				<string>{{894,157},{118,133}}</string>
				<key>offset</key>
				<string>{0,2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{164,164}</string>
			</dict>
			<key>pngdata/gridskin/changeitemeffect1009.png</key>
			<dict>
				<key>frame</key>
				<string>{{581,255},{121,121}}</string>
				<key>offset</key>
				<string>{-1,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{164,164}</string>
			</dict>
			<key>pngdata/gridskin/changeitemeffect1010.png</key>
			<dict>
				<key>frame</key>
				<string>{{150,277},{123,122}}</string>
				<key>offset</key>
				<string>{-1,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{164,164}</string>
			</dict>
			<key>pngdata/gridskin/changeitemeffect1011.png</key>
			<dict>
				<key>frame</key>
				<string>{{455,255},{124,124}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{164,164}</string>
			</dict>
			<key>pngdata/gridskin/changeitemeffect1012.png</key>
			<dict>
				<key>frame</key>
				<string>{{222,479},{89,89}}</string>
				<key>offset</key>
				<string>{-5,4}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{164,164}</string>
			</dict>
			<key>pngdata/gridskin/changeitemeffect1013.png</key>
			<dict>
				<key>frame</key>
				<string>{{184,654},{80,86}}</string>
				<key>offset</key>
				<string>{1,6}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{164,164}</string>
			</dict>
			<key>pngdata/gridskin/changeitemeffect2001.png</key>
			<dict>
				<key>frame</key>
				<string>{{275,341},{15,39}}</string>
				<key>offset</key>
				<string>{-29,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{164,164}</string>
			</dict>
			<key>pngdata/gridskin/changeitemeffect20010.png</key>
			<dict>
				<key>frame</key>
				<string>{{299,257},{124,124}}</string>
				<key>offset</key>
				<string>{-2,2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{164,164}</string>
			</dict>
			<key>pngdata/gridskin/changeitemeffect2002.png</key>
			<dict>
				<key>frame</key>
				<string>{{507,808},{62,65}}</string>
				<key>offset</key>
				<string>{-7,8}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{164,164}</string>
			</dict>
			<key>pngdata/gridskin/changeitemeffect2003.png</key>
			<dict>
				<key>frame</key>
				<string>{{550,499},{78,109}}</string>
				<key>offset</key>
				<string>{-2,3}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{164,164}</string>
			</dict>
			<key>pngdata/gridskin/changeitemeffect2004.png</key>
			<dict>
				<key>frame</key>
				<string>{{757,406},{116,84}}</string>
				<key>offset</key>
				<string>{-2,2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{164,164}</string>
			</dict>
			<key>pngdata/gridskin/changeitemeffect2005.png</key>
			<dict>
				<key>frame</key>
				<string>{{455,139},{154,114}}</string>
				<key>offset</key>
				<string>{-2,2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{164,164}</string>
			</dict>
			<key>pngdata/gridskin/changeitemeffect2006.png</key>
			<dict>
				<key>frame</key>
				<string>{{299,139},{154,116}}</string>
				<key>offset</key>
				<string>{-2,2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{164,164}</string>
			</dict>
			<key>pngdata/gridskin/changeitemeffect2007.png</key>
			<dict>
				<key>frame</key>
				<string>{{895,1},{154,119}}</string>
				<key>offset</key>
				<string>{-2,2}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{164,164}</string>
			</dict>
			<key>pngdata/gridskin/changeitemeffect2008.png</key>
			<dict>
				<key>frame</key>
				<string>{{761,284},{120,120}}</string>
				<key>offset</key>
				<string>{-2,2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{164,164}</string>
			</dict>
			<key>pngdata/gridskin/changeitemeffect2009.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,279},{122,122}}</string>
				<key>offset</key>
				<string>{-2,2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{164,164}</string>
			</dict>
			<key>pngdata/gridskin/changeitemeffect2011.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,403},{89,91}}</string>
				<key>offset</key>
				<string>{-7,5}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{164,164}</string>
			</dict>
			<key>pngdata/gridskin/changeitemeffect2012.png</key>
			<dict>
				<key>frame</key>
				<string>{{94,576},{83,88}}</string>
				<key>offset</key>
				<string>{-3,7}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{164,164}</string>
			</dict>
			<key>pngdata/gridskin/gasboxeffect001.png</key>
			<dict>
				<key>frame</key>
				<string>{{150,1},{147,136}}</string>
				<key>offset</key>
				<string>{0,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{147,138}</string>
			</dict>
			<key>pngdata/gridskin/gasboxeffect002.png</key>
			<dict>
				<key>frame</key>
				<string>{{299,1},{147,136}}</string>
				<key>offset</key>
				<string>{0,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{147,138}</string>
			</dict>
			<key>pngdata/gridskin/gasboxeffect003.png</key>
			<dict>
				<key>frame</key>
				<string>{{448,1},{147,136}}</string>
				<key>offset</key>
				<string>{0,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{147,138}</string>
			</dict>
			<key>pngdata/gridskin/gasboxeffect004.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{147,138}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{147,138}</string>
			</dict>
			<key>pngdata/gridskin/gasboxeffect005.png</key>
			<dict>
				<key>frame</key>
				<string>{{597,1},{147,136}}</string>
				<key>offset</key>
				<string>{0,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{147,138}</string>
			</dict>
			<key>pngdata/gridskin/gasboxeffect006.png</key>
			<dict>
				<key>frame</key>
				<string>{{746,1},{147,136}}</string>
				<key>offset</key>
				<string>{0,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{147,138}</string>
			</dict>
			<key>pngdata/gridskin/gasboxeffect007.png</key>
			<dict>
				<key>frame</key>
				<string>{{150,139},{147,136}}</string>
				<key>offset</key>
				<string>{0,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{147,138}</string>
			</dict>
			<key>pngdata/gridskin/gasboxeffect008.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,141},{147,136}}</string>
				<key>offset</key>
				<string>{0,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{147,138}</string>
			</dict>
			<key>pngdata/gridskin/gem001.png</key>
			<dict>
				<key>frame</key>
				<string>{{987,368},{46,35}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{47,47}</string>
			</dict>
			<key>pngdata/gridskin/gem002.png</key>
			<dict>
				<key>frame</key>
				<string>{{661,547},{46,35}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{47,47}</string>
			</dict>
			<key>pngdata/gridskin/gem003.png</key>
			<dict>
				<key>frame</key>
				<string>{{661,499},{46,37}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{47,47}</string>
			</dict>
			<key>pngdata/gridskin/gem004.png</key>
			<dict>
				<key>frame</key>
				<string>{{698,565},{43,37}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{47,47}</string>
			</dict>
			<key>pngdata/gridskin/gem005.png</key>
			<dict>
				<key>frame</key>
				<string>{{222,438},{42,37}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{47,47}</string>
			</dict>
			<key>pngdata/gridskin/gem006.png</key>
			<dict>
				<key>frame</key>
				<string>{{700,526},{46,37}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{47,47}</string>
			</dict>
			<key>pngdata/gridskin/gem007.png</key>
			<dict>
				<key>frame</key>
				<string>{{222,401},{45,35}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{47,47}</string>
			</dict>
			<key>pngdata/gridskin/gold.png</key>
			<dict>
				<key>frame</key>
				<string>{{425,257},{27,27}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{27,27}</string>
			</dict>
			<key>pngdata/gridskin/grass001.png</key>
			<dict>
				<key>frame</key>
				<string>{{970,507},{40,43}}</string>
				<key>offset</key>
				<string>{1,-2}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{113,113}</string>
			</dict>
			<key>pngdata/gridskin/grass002.png</key>
			<dict>
				<key>frame</key>
				<string>{{703,442},{40,43}}</string>
				<key>offset</key>
				<string>{1,-2}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{113,113}</string>
			</dict>
			<key>pngdata/gridskin/grass003.png</key>
			<dict>
				<key>frame</key>
				<string>{{703,484},{40,43}}</string>
				<key>offset</key>
				<string>{1,-2}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{113,113}</string>
			</dict>
			<key>pngdata/gridskin/grass004.png</key>
			<dict>
				<key>frame</key>
				<string>{{970,462},{44,43}}</string>
				<key>offset</key>
				<string>{0,-2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{113,113}</string>
			</dict>
			<key>pngdata/gridskin/grass005.png</key>
			<dict>
				<key>frame</key>
				<string>{{970,416},{44,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{113,113}</string>
			</dict>
			<key>pngdata/gridskin/grass006.png</key>
			<dict>
				<key>frame</key>
				<string>{{703,393},{47,52}}</string>
				<key>offset</key>
				<string>{0,1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{113,113}</string>
			</dict>
			<key>pngdata/gridskin/grass007.png</key>
			<dict>
				<key>frame</key>
				<string>{{704,255},{55,60}}</string>
				<key>offset</key>
				<string>{-1,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{113,113}</string>
			</dict>
			<key>pngdata/gridskin/grass008.png</key>
			<dict>
				<key>frame</key>
				<string>{{709,912},{65,66}}</string>
				<key>offset</key>
				<string>{1,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{113,113}</string>
			</dict>
			<key>pngdata/gridskin/grass009.png</key>
			<dict>
				<key>frame</key>
				<string>{{876,730},{68,69}}</string>
				<key>offset</key>
				<string>{0,-1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{113,113}</string>
			</dict>
			<key>pngdata/gridskin/grid10png0001.png</key>
			<dict>
				<key>frame</key>
				<string>{{574,579},{74,74}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{74,74}</string>
			</dict>
			<key>pngdata/gridskin/grid11png0001.png</key>
			<dict>
				<key>frame</key>
				<string>{{650,754},{74,70}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{74,70}</string>
			</dict>
			<key>pngdata/gridskin/grid13png0001.png</key>
			<dict>
				<key>frame</key>
				<string>{{650,604},{74,74}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{74,74}</string>
			</dict>
			<key>pngdata/gridskin/grid14png0001.png</key>
			<dict>
				<key>frame</key>
				<string>{{574,655},{74,74}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{74,74}</string>
			</dict>
			<key>pngdata/gridskin/grid15png0001.png</key>
			<dict>
				<key>frame</key>
				<string>{{571,731},{69,77}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{88,92}</string>
			</dict>
			<key>pngdata/gridskin/grid15png0002.png</key>
			<dict>
				<key>frame</key>
				<string>{{800,698},{74,70}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{88,92}</string>
			</dict>
			<key>pngdata/gridskin/grid15png0003.png</key>
			<dict>
				<key>frame</key>
				<string>{{495,656},{74,74}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{88,92}</string>
			</dict>
			<key>pngdata/gridskin/grid15png0004.png</key>
			<dict>
				<key>frame</key>
				<string>{{726,694},{72,72}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{88,92}</string>
			</dict>
			<key>pngdata/gridskin/grid15png0005.png</key>
			<dict>
				<key>frame</key>
				<string>{{650,680},{74,72}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{88,92}</string>
			</dict>
			<key>pngdata/gridskin/grid15png0006.png</key>
			<dict>
				<key>frame</key>
				<string>{{495,579},{75,77}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{88,92}</string>
			</dict>
			<key>pngdata/gridskin/grid16png0001.png</key>
			<dict>
				<key>frame</key>
				<string>{{281,651},{82,85}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{82,85}</string>
			</dict>
			<key>pngdata/gridskin/grid1png0001.png</key>
			<dict>
				<key>frame</key>
				<string>{{794,770},{66,70}}</string>
				<key>offset</key>
				<string>{1,-1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{130,126}</string>
			</dict>
			<key>pngdata/gridskin/grid1png0002.png</key>
			<dict>
				<key>frame</key>
				<string>{{947,730},{66,70}}</string>
				<key>offset</key>
				<string>{1,-1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{130,126}</string>
			</dict>
			<key>pngdata/gridskin/grid1png0003.png</key>
			<dict>
				<key>frame</key>
				<string>{{794,838},{66,69}}</string>
				<key>offset</key>
				<string>{1,-1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{130,126}</string>
			</dict>
			<key>pngdata/gridskin/grid1png0004.png</key>
			<dict>
				<key>frame</key>
				<string>{{438,800},{66,67}}</string>
				<key>offset</key>
				<string>{1,-2}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{130,126}</string>
			</dict>
			<key>pngdata/gridskin/grid1png0005.png</key>
			<dict>
				<key>frame</key>
				<string>{{272,735},{66,65}}</string>
				<key>offset</key>
				<string>{1,-3}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{130,126}</string>
			</dict>
			<key>pngdata/gridskin/grid1png0006.png</key>
			<dict>
				<key>frame</key>
				<string>{{439,732},{66,68}}</string>
				<key>offset</key>
				<string>{1,-2}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{130,126}</string>
			</dict>
			<key>pngdata/gridskin/grid1png0007.png</key>
			<dict>
				<key>frame</key>
				<string>{{947,798},{66,70}}</string>
				<key>offset</key>
				<string>{1,-1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{130,126}</string>
			</dict>
			<key>pngdata/gridskin/grid1png0008.png</key>
			<dict>
				<key>frame</key>
				<string>{{938,866},{66,69}}</string>
				<key>offset</key>
				<string>{1,-1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{130,126}</string>
			</dict>
			<key>pngdata/gridskin/grid1png0009.png</key>
			<dict>
				<key>frame</key>
				<string>{{571,802},{66,68}}</string>
				<key>offset</key>
				<string>{1,-2}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{130,126}</string>
			</dict>
			<key>pngdata/gridskin/grid1png0010.png</key>
			<dict>
				<key>frame</key>
				<string>{{641,826},{66,68}}</string>
				<key>offset</key>
				<string>{1,-2}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{130,126}</string>
			</dict>
			<key>pngdata/gridskin/grid1png0011.png</key>
			<dict>
				<key>frame</key>
				<string>{{865,868},{66,69}}</string>
				<key>offset</key>
				<string>{1,-1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{130,126}</string>
			</dict>
			<key>pngdata/gridskin/grid1png0012.png</key>
			<dict>
				<key>frame</key>
				<string>{{711,844},{66,68}}</string>
				<key>offset</key>
				<string>{1,-2}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{130,126}</string>
			</dict>
			<key>pngdata/gridskin/grid1png0013.png</key>
			<dict>
				<key>frame</key>
				<string>{{571,870},{66,67}}</string>
				<key>offset</key>
				<string>{1,-2}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{130,126}</string>
			</dict>
			<key>pngdata/gridskin/grid1png0014.png</key>
			<dict>
				<key>frame</key>
				<string>{{781,906},{66,68}}</string>
				<key>offset</key>
				<string>{1,-2}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{130,126}</string>
			</dict>
			<key>pngdata/gridskin/grid1png0015.png</key>
			<dict>
				<key>frame</key>
				<string>{{936,934},{66,69}}</string>
				<key>offset</key>
				<string>{1,-1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{130,126}</string>
			</dict>
			<key>pngdata/gridskin/grid1png0016.png</key>
			<dict>
				<key>frame</key>
				<string>{{851,936},{66,68}}</string>
				<key>offset</key>
				<string>{1,-2}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{130,126}</string>
			</dict>
			<key>pngdata/gridskin/grid1png0017.png</key>
			<dict>
				<key>frame</key>
				<string>{{640,894},{66,67}}</string>
				<key>offset</key>
				<string>{1,-2}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{130,126}</string>
			</dict>
			<key>pngdata/gridskin/grid1png0018.png</key>
			<dict>
				<key>frame</key>
				<string>{{368,734},{66,68}}</string>
				<key>offset</key>
				<string>{1,-2}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{130,126}</string>
			</dict>
			<key>pngdata/gridskin/grid1png0019.png</key>
			<dict>
				<key>frame</key>
				<string>{{368,666},{66,69}}</string>
				<key>offset</key>
				<string>{1,-1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{130,126}</string>
			</dict>
			<key>pngdata/gridskin/grid1png0020.png</key>
			<dict>
				<key>frame</key>
				<string>{{866,800},{66,70}}</string>
				<key>offset</key>
				<string>{1,-1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{130,126}</string>
			</dict>
			<key>pngdata/gridskin/grid1png0021.png</key>
			<dict>
				<key>frame</key>
				<string>{{947,549},{90,74}}</string>
				<key>offset</key>
				<string>{1,-3}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{130,126}</string>
			</dict>
			<key>pngdata/gridskin/grid1png0022.png</key>
			<dict>
				<key>frame</key>
				<string>{{372,383},{89,71}}</string>
				<key>offset</key>
				<string>{0,-2}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{130,126}</string>
			</dict>
			<key>pngdata/gridskin/grid1png0023.png</key>
			<dict>
				<key>frame</key>
				<string>{{372,474},{88,70}}</string>
				<key>offset</key>
				<string>{1,-2}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{130,126}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>gridskin3.png</string>
			<key>realTextureFileName</key>
			<string>gridskin3.png</string>
			<key>size</key>
			<string>{1024,1024}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1024</integer>
			<key>height</key>
			<integer>1024</integer>
		</dict>
	</dict>
</plist>