<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>pngdata/uieffect/backgroundlight1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{200,200}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{200,200}</string>
			</dict>
			<key>pngdata/uieffect/brokenshellegg1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,443},{38,109}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{38,109}</string>
			</dict>
			<key>pngdata/uieffect/brokenshellegg2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,203},{75,238}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{75,238}</string>
			</dict>
			<key>pngdata/uieffect/brokenshellegg3.png</key>
			<dict>
				<key>frame</key>
				<string>{{112,428},{85,37}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{85,37}</string>
			</dict>
			<key>pngdata/uieffect/light1.png</key>
			<dict>
				<key>frame</key>
				<string>{{69,483},{12,12}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{12,12}</string>
			</dict>
			<key>pngdata/uieffect/light2.png</key>
			<dict>
				<key>frame</key>
				<string>{{78,355},{45,71}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{45,71}</string>
			</dict>
			<key>pngdata/uieffect/light3.png</key>
			<dict>
				<key>frame</key>
				<string>{{180,467},{36,70}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{36,70}</string>
			</dict>
			<key>pngdata/uieffect/light4.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,483},{25,66}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{25,66}</string>
			</dict>
			<key>pngdata/uieffect/light5.png</key>
			<dict>
				<key>frame</key>
				<string>{{112,467},{43,66}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{43,66}</string>
			</dict>
			<key>pngdata/uieffect/light6.png</key>
			<dict>
				<key>frame</key>
				<string>{{125,355},{30,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{30,80}</string>
			</dict>
			<key>pngdata/uieffect/light7.png</key>
			<dict>
				<key>frame</key>
				<string>{{78,203},{150,110}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{150,110}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>highdefinitionpng.png</string>
			<key>realTextureFileName</key>
			<string>highdefinitionpng.png</string>
			<key>size</key>
			<string>{256,512}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>256</integer>
			<key>height</key>
			<integer>512</integer>
		</dict>
	</dict>
</plist>