<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>level/bg10-1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{322,284}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{322,284}</string>
			</dict>
			<key>level/bg10-2.png</key>
			<dict>
				<key>frame</key>
				<string>{{325,1},{322,284}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{322,284}</string>
			</dict>
			<key>level/bg1-1.png</key>
			<dict>
				<key>frame</key>
				<string>{{649,1},{322,284}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{322,284}</string>
			</dict>
			<key>level/bg11-1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,287},{322,284}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{322,284}</string>
			</dict>
			<key>level/bg11-2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,611},{322,284}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{322,284}</string>
			</dict>
			<key>level/bg1-2.png</key>
			<dict>
				<key>frame</key>
				<string>{{287,287},{322,284}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{322,284}</string>
			</dict>
			<key>level/bg12-1.png</key>
			<dict>
				<key>frame</key>
				<string>{{611,287},{322,284}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{322,284}</string>
			</dict>
			<key>level/bg12-2.png</key>
			<dict>
				<key>frame</key>
				<string>{{287,573},{322,284}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{322,284}</string>
			</dict>
			<key>level/bg2-1.png</key>
			<dict>
				<key>frame</key>
				<string>{{573,573},{322,284}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{322,284}</string>
			</dict>
			<key>level/levelbtn.png</key>
			<dict>
				<key>frame</key>
				<string>{{973,1},{79,45}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{79,45}</string>
			</dict>
			<key>level/start1.png</key>
			<dict>
				<key>frame</key>
				<string>{{973,82},{51,49}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{51,49}</string>
			</dict>
			<key>level/start2.png</key>
			<dict>
				<key>frame</key>
				<string>{{113,935},{92,52}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{92,52}</string>
			</dict>
			<key>level/start3.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,935},{110,54}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{110,54}</string>
			</dict>
			<key>level/win10no.png</key>
			<dict>
				<key>frame</key>
				<string>{{573,859},{155,138}}</string>
				<key>offset</key>
				<string>{-1,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{156,140}</string>
			</dict>
			<key>level/win10ok.png</key>
			<dict>
				<key>frame</key>
				<string>{{713,859},{155,138}}</string>
				<key>offset</key>
				<string>{-1,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{156,140}</string>
			</dict>
			<key>level/win11no.png</key>
			<dict>
				<key>frame</key>
				<string>{{853,859},{155,138}}</string>
				<key>offset</key>
				<string>{-1,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{156,140}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>level2.png</string>
			<key>realTextureFileName</key>
			<string>level2.png</string>
			<key>size</key>
			<string>{1024,1024}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1024</integer>
			<key>height</key>
			<integer>1024</integer>
		</dict>
	</dict>
</plist>