<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>level/levelbar.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{644,510}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{644,510}</string>
			</dict>
			<key>level/bg2-2.png</key>
			<dict>
				<key>frame</key>
				<string>{{647,1},{322,284}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{322,284}</string>
			</dict>
			<key>level/bg3-1.png</key>
			<dict>
				<key>frame</key>
				<string>{{647,287},{322,284}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{322,284}</string>
			</dict>
			<key>level/bg3-2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,513},{322,284}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{322,284}</string>
			</dict>
			<key>level/bg4-1.png</key>
			<dict>
				<key>frame</key>
				<string>{{287,513},{322,284}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{322,284}</string>
			</dict>
			<key>level/bg4-2.png</key>
			<dict>
				<key>frame</key>
				<string>{{611,573},{322,284}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{322,284}</string>
			</dict>
			<key>level/win0no.png</key>
			<dict>
				<key>frame</key>
				<string>{{584,859},{144,138}}</string>
				<key>offset</key>
				<string>{5,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{156,140}</string>
			</dict>
			<key>level/win0ok.png</key>
			<dict>
				<key>frame</key>
				<string>{{724,859},{144,138}}</string>
				<key>offset</key>
				<string>{5,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{156,140}</string>
			</dict>
			<key>level/win12no.png</key>
			<dict>
				<key>frame</key>
				<string>{{864,859},{144,138}}</string>
				<key>offset</key>
				<string>{5,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{156,140}</string>
			</dict>
			<key>level/win1no.png</key>
			<dict>
				<key>frame</key>
				<string>{{287,799},{155,138}}</string>
				<key>offset</key>
				<string>{-1,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{156,140}</string>
			</dict>
			<key>level/win1ok.png</key>
			<dict>
				<key>frame</key>
				<string>{{427,799},{155,138}}</string>
				<key>offset</key>
				<string>{-1,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{156,140}</string>
			</dict>
			<key>level/win7no.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,837},{155,138}}</string>
				<key>offset</key>
				<string>{-1,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{156,140}</string>
			</dict>
			<key>level/win7ok.png</key>
			<dict>
				<key>frame</key>
				<string>{{141,837},{155,138}}</string>
				<key>offset</key>
				<string>{-1,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{156,140}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>level1.png</string>
			<key>realTextureFileName</key>
			<string>level1.png</string>
			<key>size</key>
			<string>{1024,1024}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1024</integer>
			<key>height</key>
			<integer>1024</integer>
		</dict>
	</dict>
</plist>