<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>level/bg5-1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{322,284}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{322,284}</string>
			</dict>
			<key>level/bg5-2.png</key>
			<dict>
				<key>frame</key>
				<string>{{325,1},{322,284}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{322,284}</string>
			</dict>
			<key>level/bg6-1.png</key>
			<dict>
				<key>frame</key>
				<string>{{649,1},{322,284}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{322,284}</string>
			</dict>
			<key>level/bg6-2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,287},{322,284}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{322,284}</string>
			</dict>
			<key>level/bg7-1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,611},{322,284}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{322,284}</string>
			</dict>
			<key>level/bg7-2.png</key>
			<dict>
				<key>frame</key>
				<string>{{287,287},{322,284}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{322,284}</string>
			</dict>
			<key>level/bg8-1.png</key>
			<dict>
				<key>frame</key>
				<string>{{611,287},{322,284}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{322,284}</string>
			</dict>
			<key>level/bg8-2.png</key>
			<dict>
				<key>frame</key>
				<string>{{287,573},{322,284}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{322,284}</string>
			</dict>
			<key>level/bg9-1.png</key>
			<dict>
				<key>frame</key>
				<string>{{573,573},{322,284}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{322,284}</string>
			</dict>
			<key>level/win8no.png</key>
			<dict>
				<key>frame</key>
				<string>{{573,859},{155,138}}</string>
				<key>offset</key>
				<string>{-1,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{156,140}</string>
			</dict>
			<key>level/win8ok.png</key>
			<dict>
				<key>frame</key>
				<string>{{713,859},{155,138}}</string>
				<key>offset</key>
				<string>{-1,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{156,140}</string>
			</dict>
			<key>level/win9no.png</key>
			<dict>
				<key>frame</key>
				<string>{{853,859},{155,138}}</string>
				<key>offset</key>
				<string>{-1,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{156,140}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>level3.png</string>
			<key>realTextureFileName</key>
			<string>level3.png</string>
			<key>size</key>
			<string>{1024,1024}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1024</integer>
			<key>height</key>
			<integer>1024</integer>
		</dict>
	</dict>
</plist>