<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>pet/icon1000.png</key>
			<dict>
				<key>frame</key>
				<string>{{474,902},{109,110}}</string>
				<key>offset</key>
				<string>{-1,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{112,112}</string>
			</dict>
			<key>pet/l1.png</key>
			<dict>
				<key>frame</key>
				<string>{{101,989},{44,29}}</string>
				<key>offset</key>
				<string>{0,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{50,32}</string>
			</dict>
			<key>pet/l2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,989},{48,29}}</string>
				<key>offset</key>
				<string>{0,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{50,32}</string>
			</dict>
			<key>pet/l3.png</key>
			<dict>
				<key>frame</key>
				<string>{{51,989},{48,29}}</string>
				<key>offset</key>
				<string>{0,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{50,32}</string>
			</dict>
			<key>pet/n1000.png</key>
			<dict>
				<key>frame</key>
				<string>{{190,922},{171,64}}</string>
				<key>offset</key>
				<string>{0,5}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{190,81}</string>
			</dict>
			<key>pet/ps1000_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{712,406},{55,56}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{55,56}</string>
			</dict>
			<key>pet/ps1000_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{800,430},{55,56}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{55,56}</string>
			</dict>
			<key>pet/s1000.png</key>
			<dict>
				<key>frame</key>
				<string>{{914,1},{95,99}}</string>
				<key>offset</key>
				<string>{0,1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{96,100}</string>
			</dict>
			<key>pet/s1001.png</key>
			<dict>
				<key>frame</key>
				<string>{{800,92},{95,99}}</string>
				<key>offset</key>
				<string>{0,1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{96,100}</string>
			</dict>
			<key>pet/s1002.png</key>
			<dict>
				<key>frame</key>
				<string>{{901,98},{95,99}}</string>
				<key>offset</key>
				<string>{0,1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{96,100}</string>
			</dict>
			<key>pet/s1004.png</key>
			<dict>
				<key>frame</key>
				<string>{{792,189},{95,99}}</string>
				<key>offset</key>
				<string>{0,1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{96,100}</string>
			</dict>
			<key>pet/s1005.png</key>
			<dict>
				<key>frame</key>
				<string>{{893,195},{95,99}}</string>
				<key>offset</key>
				<string>{0,1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{96,100}</string>
			</dict>
			<key>pet/s1006.png</key>
			<dict>
				<key>frame</key>
				<string>{{792,286},{90,93}}</string>
				<key>offset</key>
				<string>{0,2}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{96,100}</string>
			</dict>
			<key>pet/icon1001.png</key>
			<dict>
				<key>frame</key>
				<string>{{696,900},{102,112}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{112,112}</string>
			</dict>
			<key>pet/icon1002.png</key>
			<dict>
				<key>frame</key>
				<string>{{363,908},{112,109}}</string>
				<key>offset</key>
				<string>{0,1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{112,112}</string>
			</dict>
			<key>pet/icon1003.png</key>
			<dict>
				<key>frame</key>
				<string>{{585,900},{110,109}}</string>
				<key>offset</key>
				<string>{0,1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{112,112}</string>
			</dict>
			<key>pet/icon1004.png</key>
			<dict>
				<key>frame</key>
				<string>{{712,175},{112,78}}</string>
				<key>offset</key>
				<string>{0,-1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{112,112}</string>
			</dict>
			<key>pet/n1001.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,922},{187,65}}</string>
				<key>offset</key>
				<string>{0,6}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{190,81}</string>
			</dict>
			<key>pet/n1002.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,839},{190,81}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{190,81}</string>
			</dict>
			<key>pet/n1003.png</key>
			<dict>
				<key>frame</key>
				<string>{{712,289},{115,67}}</string>
				<key>offset</key>
				<string>{0,7}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{190,81}</string>
			</dict>
			<key>pet/n1004.png</key>
			<dict>
				<key>frame</key>
				<string>{{539,839},{171,59}}</string>
				<key>offset</key>
				<string>{0,3}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{190,81}</string>
			</dict>
			<key>pet/ps1001_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{936,292},{51,56}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{55,56}</string>
			</dict>
			<key>pet/ps1001_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{936,345},{51,56}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{55,56}</string>
			</dict>
			<key>pet/ps1002_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{712,463},{55,55}}</string>
				<key>offset</key>
				<string>{0,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{55,56}</string>
			</dict>
			<key>pet/ps1002_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{647,481},{55,55}}</string>
				<key>offset</key>
				<string>{0,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{55,56}</string>
			</dict>
			<key>pet/ps1003_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{936,398},{53,52}}</string>
				<key>offset</key>
				<string>{0,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{55,56}</string>
			</dict>
			<key>pet/ps1003_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{858,447},{53,52}}</string>
				<key>offset</key>
				<string>{0,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{55,56}</string>
			</dict>
			<key>pet/ps1004_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{913,452},{55,38}}</string>
				<key>offset</key>
				<string>{0,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{55,56}</string>
			</dict>
			<key>pet/ps1004_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{970,452},{55,38}}</string>
				<key>offset</key>
				<string>{0,-1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{55,56}</string>
			</dict>
			<key>pet/icon1005.png</key>
			<dict>
				<key>frame</key>
				<string>{{800,1},{112,89}}</string>
				<key>offset</key>
				<string>{0,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{112,112}</string>
			</dict>
			<key>pet/n1005.png</key>
			<dict>
				<key>frame</key>
				<string>{{193,839},{169,67}}</string>
				<key>offset</key>
				<string>{0,7}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{190,81}</string>
			</dict>
			<key>pet/ps1005_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{800,487},{55,44}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{55,56}</string>
			</dict>
			<key>pet/ps1005_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{704,520},{55,44}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{55,56}</string>
			</dict>
			<key>pet/sn1000.png</key>
			<dict>
				<key>frame</key>
				<string>{{647,325},{154,48}}</string>
				<key>offset</key>
				<string>{0,4}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{176,66}</string>
			</dict>
			<key>pet/sn1001.png</key>
			<dict>
				<key>frame</key>
				<string>{{647,1},{169,48}}</string>
				<key>offset</key>
				<string>{0,4}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{176,66}</string>
			</dict>
			<key>pet/sn1002.png</key>
			<dict>
				<key>frame</key>
				<string>{{364,839},{173,61}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{176,66}</string>
			</dict>
			<key>pet/sn1003.png</key>
			<dict>
				<key>frame</key>
				<string>{{781,378},{98,50}}</string>
				<key>offset</key>
				<string>{0,5}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{176,66}</string>
			</dict>
			<key>pet/sn1004.png</key>
			<dict>
				<key>frame</key>
				<string>{{887,292},{153,47}}</string>
				<key>offset</key>
				<string>{0,4}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{176,66}</string>
			</dict>
			<key>pet/sn1005.png</key>
			<dict>
				<key>frame</key>
				<string>{{647,172},{151,50}}</string>
				<key>offset</key>
				<string>{0,5}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{176,66}</string>
			</dict>
			<key>pet/petshopline1.png</key>
			<dict>
				<key>frame</key>
				<string>{{147,989},{95,4}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{95,4}</string>
			</dict>
			<key>pet/petshopline2.png</key>
			<dict>
				<key>frame</key>
				<string>{{147,995},{70,4}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{70,4}</string>
			</dict>
			<key>pet/petshopstart.png</key>
			<dict>
				<key>frame</key>
				<string>{{647,538},{49,48}}</string>
				<key>offset</key>
				<string>{-1,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{50,48}</string>
			</dict>
			<key>pet/petshopstartbg.png</key>
			<dict>
				<key>frame</key>
				<string>{{712,1},{172,57}}</string>
				<key>offset</key>
				<string>{0,1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{172,58}</string>
			</dict>
			<key>uibglayer/1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{644,836}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{644,836}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>petimg1.png</string>
			<key>realTextureFileName</key>
			<string>petimg1.png</string>
			<key>size</key>
			<string>{1024,1024}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1024</integer>
			<key>height</key>
			<integer>1024</integer>
		</dict>
	</dict>
</plist>