<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>pet/1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,766},{232,196}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{232,196}</string>
			</dict>
			<key>pet/2.png</key>
			<dict>
				<key>frame</key>
				<string>{{199,766},{232,196}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{232,196}</string>
			</dict>
			<key>pet/4.png</key>
			<dict>
				<key>frame</key>
				<string>{{397,766},{232,196}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{232,196}</string>
			</dict>
			<key>pet/7.png</key>
			<dict>
				<key>frame</key>
				<string>{{519,376},{172,57}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{172,57}</string>
			</dict>
			<key>pet/petstart.png</key>
			<dict>
				<key>frame</key>
				<string>{{355,376},{87,85}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{87,85}</string>
			</dict>
			<key>pet/closepage.png</key>
			<dict>
				<key>frame</key>
				<string>{{151,376},{100,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>pet/openpage.png</key>
			<dict>
				<key>frame</key>
				<string>{{253,376},{100,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>pet/lv.png</key>
			<dict>
				<key>frame</key>
				<string>{{565,595},{40,29}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{40,29}</string>
			</dict>
			<key>pet/progressbody.png</key>
			<dict>
				<key>frame</key>
				<string>{{578,376},{13,27}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{13,27}</string>
			</dict>
			<key>pet/progressend.png</key>
			<dict>
				<key>frame</key>
				<string>{{373,550},{151,27}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{151,27}</string>
			</dict>
			<key>pet/progresstop.png</key>
			<dict>
				<key>frame</key>
				<string>{{373,579},{24,27}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{24,27}</string>
			</dict>
			<key>pet/mypet.png</key>
			<dict>
				<key>frame</key>
				<string>{{887,627},{247,101}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{247,101}</string>
			</dict>
			<key>pet/s001.png</key>
			<dict>
				<key>frame</key>
				<string>{{526,550},{44,43}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{44,43}</string>
			</dict>
			<key>pet/smallstart.png</key>
			<dict>
				<key>frame</key>
				<string>{{519,595},{44,43}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{44,43}</string>
			</dict>
			<key>pet/petupbtn.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,376},{148,154}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{148,154}</string>
			</dict>
			<key>pet/pettitle.png</key>
			<dict>
				<key>frame</key>
				<string>{{925,1},{624,94}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{624,94}</string>
			</dict>
			<key>pet/petstart1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,550},{122,43}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{122,43}</string>
			</dict>
			<key>pet/petstart2.png</key>
			<dict>
				<key>frame</key>
				<string>{{125,550},{122,43}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{122,43}</string>
			</dict>
			<key>pet/petstart3.png</key>
			<dict>
				<key>frame</key>
				<string>{{249,550},{122,43}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{122,43}</string>
			</dict>
			<key>pet/pinfo.png</key>
			<dict>
				<key>frame</key>
				<string>{{601,1},{603,322}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{603,322}</string>
			</dict>
			<key>pet/sbg1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{598,373}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{598,373}</string>
			</dict>
			<key>pet/sbg3.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,606},{516,158}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{516,158}</string>
			</dict>
			<key>uibglayer/ball.png</key>
			<dict>
				<key>frame</key>
				<string>{{596,606},{289,262}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{289,262}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>petlist1.png</string>
			<key>realTextureFileName</key>
			<string>petlist1.png</string>
			<key>size</key>
			<string>{1024,1024}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1024</integer>
			<key>height</key>
			<integer>1024</integer>
		</dict>
	</dict>
</plist>