<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>pngdata/petskin/pet1002png35.png</key>
			<dict>
				<key>frame</key>
				<string>{{473,1},{396,338}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{396,338}</string>
			</dict>
			<key>pngdata/petskin/pet1002png36.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{470,461}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{470,461}</string>
			</dict>
			<key>pngdata/petskin/pet1002png37.png</key>
			<dict>
				<key>frame</key>
				<string>{{743,739},{98,106}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{98,106}</string>
			</dict>
			<key>pngdata/petskin/pet1002png38.png</key>
			<dict>
				<key>frame</key>
				<string>{{144,813},{39,30}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{39,30}</string>
			</dict>
			<key>pngdata/petskin/pet1002png39.png</key>
			<dict>
				<key>frame</key>
				<string>{{871,328},{318,104}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{318,104}</string>
			</dict>
			<key>pngdata/petskin/pet1002png4.png</key>
			<dict>
				<key>frame</key>
				<string>{{144,854},{27,27}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{27,27}</string>
			</dict>
			<key>pngdata/petskin/pet1002png40.png</key>
			<dict>
				<key>frame</key>
				<string>{{473,341},{281,266}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{281,266}</string>
			</dict>
			<key>pngdata/petskin/pet1002png41.png</key>
			<dict>
				<key>frame</key>
				<string>{{463,749},{37,36}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{37,36}</string>
			</dict>
			<key>pngdata/petskin/pet1002png42.png</key>
			<dict>
				<key>frame</key>
				<string>{{501,749},{37,36}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{37,36}</string>
			</dict>
			<key>pngdata/petskin/pet1002png43.png</key>
			<dict>
				<key>frame</key>
				<string>{{180,645},{266,86}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{266,86}</string>
			</dict>
			<key>pngdata/petskin/pet1002png44.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,464},{296,179}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{296,179}</string>
			</dict>
			<key>pngdata/petskin/pet1002png45.png</key>
			<dict>
				<key>frame</key>
				<string>{{463,609},{138,138}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{138,138}</string>
			</dict>
			<key>pngdata/petskin/pet1002png46.png</key>
			<dict>
				<key>frame</key>
				<string>{{603,609},{137,138}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{137,138}</string>
			</dict>
			<key>pngdata/petskin/pet1002png47.png</key>
			<dict>
				<key>frame</key>
				<string>{{953,916},{53,53}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{53,53}</string>
			</dict>
			<key>pngdata/petskin/pet1002png48.png</key>
			<dict>
				<key>frame</key>
				<string>{{510,867},{88,117}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{88,117}</string>
			</dict>
			<key>pngdata/petskin/pet1002png49.png</key>
			<dict>
				<key>frame</key>
				<string>{{851,742},{98,106}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{98,106}</string>
			</dict>
			<key>pngdata/petskin/pet1002png5.png</key>
			<dict>
				<key>frame</key>
				<string>{{144,883},{27,27}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{27,27}</string>
			</dict>
			<key>pngdata/petskin/pet1002png50.png</key>
			<dict>
				<key>frame</key>
				<string>{{816,842},{53,53}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{53,53}</string>
			</dict>
			<key>pngdata/petskin/pet1002png51.png</key>
			<dict>
				<key>frame</key>
				<string>{{600,891},{86,112}}</string>
				<key>offset</key>
				<string>{-5,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{104,125}</string>
			</dict>
			<key>pngdata/petskin/pet1002png7.png</key>
			<dict>
				<key>frame</key>
				<string>{{603,748},{141,133}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{141,133}</string>
			</dict>
			<key>pngdata/petskin/pet1002png8.png</key>
			<dict>
				<key>frame</key>
				<string>{{688,966},{45,56}}</string>
				<key>offset</key>
				<string>{-4,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{56,65}</string>
			</dict>
			<key>pngdata/petskin/pet1002png9.png</key>
			<dict>
				<key>frame</key>
				<string>{{735,971},{49,56}}</string>
				<key>offset</key>
				<string>{3,1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{60,70}</string>
			</dict>
			<key>pngdata/petskin/pet1003png1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,813},{205,141}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{205,141}</string>
			</dict>
			<key>pngdata/petskin/pet1003png10.png</key>
			<dict>
				<key>frame</key>
				<string>{{299,464},{324,162}}</string>
				<key>offset</key>
				<string>{1,-1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{325,165}</string>
			</dict>
			<key>pngdata/petskin/pet1003png11.png</key>
			<dict>
				<key>frame</key>
				<string>{{428,790},{151,75}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{151,76}</string>
			</dict>
			<key>pngdata/petskin/pet1003png12.png</key>
			<dict>
				<key>frame</key>
				<string>{{144,913},{157,96}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{158,98}</string>
			</dict>
			<key>pngdata/petskin/pet1003png13.png</key>
			<dict>
				<key>frame</key>
				<string>{{688,891},{73,45}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{73,45}</string>
			</dict>
			<key>pngdata/petskin/pet1003png14.png</key>
			<dict>
				<key>frame</key>
				<string>{{871,1},{325,126}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{326,127}</string>
			</dict>
			<key>pngdata/petskin/pet1003png15.png</key>
			<dict>
				<key>frame</key>
				<string>{{959,763},{151,59}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{151,59}</string>
			</dict>
			<key>pngdata/petskin/pet1003png16.png</key>
			<dict>
				<key>frame</key>
				<string>{{977,328},{247,42}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{247,42}</string>
			</dict>
			<key>pngdata/petskin/pet1003png17.png</key>
			<dict>
				<key>frame</key>
				<string>{{977,577},{184,34}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{185,34}</string>
			</dict>
			<key>pngdata/petskin/pet1003png18.png</key>
			<dict>
				<key>frame</key>
				<string>{{999,117},{86,15}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{86,15}</string>
			</dict>
			<key>pngdata/petskin/pet1003png181.png</key>
			<dict>
				<key>frame</key>
				<string>{{756,341},{288,85}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{290,87}</string>
			</dict>
			<key>pngdata/petskin/pet1003png19.png</key>
			<dict>
				<key>frame</key>
				<string>{{999,1},{114,19}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{114,19}</string>
			</dict>
			<key>pngdata/petskin/pet1003png2.png</key>
			<dict>
				<key>frame</key>
				<string>{{303,881},{205,141}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{205,141}</string>
			</dict>
			<key>pngdata/petskin/spet1003png1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,645},{166,177}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{167,178}</string>
			</dict>
			<key>pngdata/petskin/pet1005png27.png</key>
			<dict>
				<key>frame</key>
				<string>{{816,916},{135,53}}</string>
				<key>offset</key>
				<string>{-2,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{140,57}</string>
			</dict>
			<key>pngdata/petskin/pet1005png26.png</key>
			<dict>
				<key>frame</key>
				<string>{{268,790},{158,89}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{158,89}</string>
			</dict>
			<key>pngdata/petskin/pet1005png5.png</key>
			<dict>
				<key>frame</key>
				<string>{{738,839},{130,76}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{130,76}</string>
			</dict>
			<key>pngdata/petskin/pet1005png6.png</key>
			<dict>
				<key>frame</key>
				<string>{{793,971},{49,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{49,50}</string>
			</dict>
			<key>pngdata/petskin/pet1005png9.png</key>
			<dict>
				<key>frame</key>
				<string>{{844,971},{49,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{49,50}</string>
			</dict>
			<key>pngdata/petskin/pet1003png7.png</key>
			<dict>
				<key>frame</key>
				<string>{{895,971},{55,43}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{55,43}</string>
			</dict>
			<key>pngdata/petskin/pet1003png9.png</key>
			<dict>
				<key>frame</key>
				<string>{{853,648},{119,92}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{119,92}</string>
			</dict>
			<key>pngdata/petskin/pet1001png20.png</key>
			<dict>
				<key>frame</key>
				<string>{{743,631},{108,106}}</string>
				<key>offset</key>
				<string>{-3,2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{115,110}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>petskinplist3.png</string>
			<key>realTextureFileName</key>
			<string>petskinplist3.png</string>
			<key>size</key>
			<string>{1024,1024}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1024</integer>
			<key>height</key>
			<integer>1024</integer>
		</dict>
	</dict>
</plist>