<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>pngdata/petskin/pet1001png12.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,510},{248,104}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{248,104}</string>
			</dict>
			<key>pngdata/petskin/pet1001png13.png</key>
			<dict>
				<key>frame</key>
				<string>{{984,582},{38,106}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{38,106}</string>
			</dict>
			<key>pngdata/petskin/pet1001png14.png</key>
			<dict>
				<key>frame</key>
				<string>{{381,306},{340,300}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{340,300}</string>
			</dict>
			<key>pngdata/petskin/pet1001png15.png</key>
			<dict>
				<key>frame</key>
				<string>{{723,343},{271,231}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{271,231}</string>
			</dict>
			<key>pngdata/petskin/pet1001png16.png</key>
			<dict>
				<key>frame</key>
				<string>{{381,1},{346,303}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{346,303}</string>
			</dict>
			<key>pngdata/petskin/pet1001png17.png</key>
			<dict>
				<key>frame</key>
				<string>{{328,567},{46,111}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{46,111}</string>
			</dict>
			<key>pngdata/petskin/pet1001png18.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,809},{43,113}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{43,113}</string>
			</dict>
			<key>pngdata/petskin/pet1001png19.png</key>
			<dict>
				<key>frame</key>
				<string>{{328,448},{50,117}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{50,117}</string>
			</dict>
			<key>pngdata/petskin/pet1001png2.png</key>
			<dict>
				<key>frame</key>
				<string>{{456,608},{173,152}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{173,152}</string>
			</dict>
			<key>pngdata/petskin/pet1001png21.png</key>
			<dict>
				<key>frame</key>
				<string>{{855,855},{109,113}}</string>
				<key>offset</key>
				<string>{4,4}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{118,121}</string>
			</dict>
			<key>pngdata/petskin/pet1001png22.png</key>
			<dict>
				<key>frame</key>
				<string>{{116,809},{37,106}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{37,106}</string>
			</dict>
			<key>pngdata/petskin/pet1001png23.png</key>
			<dict>
				<key>frame</key>
				<string>{{631,608},{107,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{107,80}</string>
			</dict>
			<key>pngdata/petskin/pet1001png24.png</key>
			<dict>
				<key>frame</key>
				<string>{{503,762},{173,178}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{173,178}</string>
			</dict>
			<key>pngdata/petskin/pet1001png25.png</key>
			<dict>
				<key>frame</key>
				<string>{{996,343},{118,24}}</string>
				<key>offset</key>
				<string>{-2,2}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{126,28}</string>
			</dict>
			<key>pngdata/petskin/pet1001png3.png</key>
			<dict>
				<key>frame</key>
				<string>{{192,645},{136,116}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{136,116}</string>
			</dict>
			<key>pngdata/petskin/pet1001png4.png</key>
			<dict>
				<key>frame</key>
				<string>{{996,463},{25,59}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{25,59}</string>
			</dict>
			<key>pngdata/petskin/pet1001png5.png</key>
			<dict>
				<key>frame</key>
				<string>{{960,576},{22,57}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{22,57}</string>
			</dict>
			<key>pngdata/petskin/pet1001png6.png</key>
			<dict>
				<key>frame</key>
				<string>{{996,524},{23,56}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{23,56}</string>
			</dict>
			<key>pngdata/petskin/pet1001png7.png</key>
			<dict>
				<key>frame</key>
				<string>{{960,635},{19,53}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{19,53}</string>
			</dict>
			<key>pngdata/petskin/pet1001png8.png</key>
			<dict>
				<key>frame</key>
				<string>{{261,486},{58,55}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{58,55}</string>
			</dict>
			<key>pngdata/petskin/pet1001png9.png</key>
			<dict>
				<key>frame</key>
				<string>{{328,325},{121,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{121,50}</string>
			</dict>
			<key>pngdata/petskin/pet1002png1.png</key>
			<dict>
				<key>frame</key>
				<string>{{683,855},{170,142}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{170,142}</string>
			</dict>
			<key>pngdata/petskin/pet1002png10.png</key>
			<dict>
				<key>frame</key>
				<string>{{261,543},{49,53}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{49,53}</string>
			</dict>
			<key>pngdata/petskin/pet1002png11.png</key>
			<dict>
				<key>frame</key>
				<string>{{261,594},{49,53}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{49,53}</string>
			</dict>
			<key>pngdata/petskin/pet1002png12op.png</key>
			<dict>
				<key>frame</key>
				<string>{{310,680},{144,89}}</string>
				<key>offset</key>
				<string>{1,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{148,90}</string>
			</dict>
			<key>pngdata/petskin/pet1002png13.png</key>
			<dict>
				<key>frame</key>
				<string>{{960,690},{163,62}}</string>
				<key>offset</key>
				<string>{-1,1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{165,64}</string>
			</dict>
			<key>pngdata/petskin/pet1002png14.png</key>
			<dict>
				<key>frame</key>
				<string>{{224,809},{19,18}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{19,18}</string>
			</dict>
			<key>pngdata/petskin/pet1002png15.png</key>
			<dict>
				<key>frame</key>
				<string>{{244,809},{20,15}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{20,15}</string>
			</dict>
			<key>pngdata/petskin/pet1002png16.png</key>
			<dict>
				<key>frame</key>
				<string>{{261,783},{69,69}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{69,69}</string>
			</dict>
			<key>pngdata/petskin/pet1002png18.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,645},{189,161}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{189,161}</string>
			</dict>
			<key>pngdata/petskin/pet1002png19.png</key>
			<dict>
				<key>frame</key>
				<string>{{224,830},{19,18}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{19,18}</string>
			</dict>
			<key>pngdata/petskin/pet1002png2.png</key>
			<dict>
				<key>frame</key>
				<string>{{332,771},{198,169}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{198,169}</string>
			</dict>
			<key>pngdata/petskin/pet1002png3.png</key>
			<dict>
				<key>frame</key>
				<string>{{723,576},{235,231}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{235,231}</string>
			</dict>
			<key>pngdata/petskin/pet1002png31.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,325},{212,183}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{212,183}</string>
			</dict>
			<key>pngdata/petskin/pet1002png32.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,855},{325,124}}</string>
				<key>offset</key>
				<string>{-1,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{330,128}</string>
			</dict>
			<key>pngdata/petskin/pet1002png33.png</key>
			<dict>
				<key>frame</key>
				<string>{{729,1},{340,284}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{340,284}</string>
			</dict>
			<key>pngdata/petskin/pet1002png34.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{378,322}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{378,322}</string>
			</dict>
			<key>pngdata/petskin/pet1002png6.png</key>
			<dict>
				<key>frame</key>
				<string>{{261,325},{159,52}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{159,52}</string>
			</dict>
			<key>pngdata/petskin/pet1002png17.png</key>
			<dict>
				<key>frame</key>
				<string>{{376,608},{69,69}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{69,69}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>petskinplist2.png</string>
			<key>realTextureFileName</key>
			<string>petskinplist2.png</string>
			<key>size</key>
			<string>{1024,1024}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1024</integer>
			<key>height</key>
			<integer>1024</integer>
		</dict>
	</dict>
</plist>