<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>pngdata/petskin/pet1003png20.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{398,347}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{398,347}</string>
			</dict>
			<key>pngdata/petskin/pet1003png21.png</key>
			<dict>
				<key>frame</key>
				<string>{{326,796},{184,161}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{184,161}</string>
			</dict>
			<key>pngdata/petskin/pet1003png22.png</key>
			<dict>
				<key>frame</key>
				<string>{{955,541},{310,52}}</string>
				<key>offset</key>
				<string>{-2,2}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{315,58}</string>
			</dict>
			<key>pngdata/petskin/pet1003png2213213.png</key>
			<dict>
				<key>frame</key>
				<string>{{539,588},{44,56}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{44,56}</string>
			</dict>
			<key>pngdata/petskin/pet1003png3.png</key>
			<dict>
				<key>frame</key>
				<string>{{597,588},{44,56}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{44,56}</string>
			</dict>
			<key>pngdata/petskin/pet1003png36.png</key>
			<dict>
				<key>frame</key>
				<string>{{286,350},{288,85}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{290,87}</string>
			</dict>
			<key>pngdata/petskin/pet1003png4.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,486},{95,120}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{95,120}</string>
			</dict>
			<key>pngdata/petskin/pet1003png5.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,608},{95,120}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{95,120}</string>
			</dict>
			<key>pngdata/petskin/pet1003png6.png</key>
			<dict>
				<key>frame</key>
				<string>{{903,816},{55,43}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{55,43}</string>
			</dict>
			<key>pngdata/petskin/pet1003png8.png</key>
			<dict>
				<key>frame</key>
				<string>{{489,919},{119,92}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{119,92}</string>
			</dict>
			<key>pngdata/petskin/pet1004png1.png</key>
			<dict>
				<key>frame</key>
				<string>{{999,106},{26,16}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{26,16}</string>
			</dict>
			<key>pngdata/petskin/pet1004png10.png</key>
			<dict>
				<key>frame</key>
				<string>{{999,168},{12,7}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{12,7}</string>
			</dict>
			<key>pngdata/petskin/pet1004png11.png</key>
			<dict>
				<key>frame</key>
				<string>{{794,344},{224,163}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{224,163}</string>
			</dict>
			<key>pngdata/petskin/pet1004png12.png</key>
			<dict>
				<key>frame</key>
				<string>{{69,816},{34,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{34,32}</string>
			</dict>
			<key>pngdata/petskin/pet1004png13.png</key>
			<dict>
				<key>frame</key>
				<string>{{779,816},{122,122}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{122,122}</string>
			</dict>
			<key>pngdata/petskin/pet1004png14.png</key>
			<dict>
				<key>frame</key>
				<string>{{999,134},{16,15}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{16,15}</string>
			</dict>
			<key>pngdata/petskin/pet1004png15.png</key>
			<dict>
				<key>frame</key>
				<string>{{373,588},{99,49}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{99,49}</string>
			</dict>
			<key>pngdata/petskin/pet1004png16.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,816},{35,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{35,32}</string>
			</dict>
			<key>pngdata/petskin/pet1004png17.png</key>
			<dict>
				<key>frame</key>
				<string>{{489,795},{123,122}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{123,122}</string>
			</dict>
			<key>pngdata/petskin/pet1004png18.png</key>
			<dict>
				<key>frame</key>
				<string>{{999,151},{16,15}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{16,15}</string>
			</dict>
			<key>pngdata/petskin/pet1004png19.png</key>
			<dict>
				<key>frame</key>
				<string>{{103,350},{243,173}}</string>
				<key>offset</key>
				<string>{-2,-2}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{251,181}</string>
			</dict>
			<key>pngdata/petskin/pet1004png20.png</key>
			<dict>
				<key>frame</key>
				<string>{{614,795},{135,53}}</string>
				<key>offset</key>
				<string>{-2,1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{140,57}</string>
			</dict>
			<key>pngdata/petskin/pet1004png4.png</key>
			<dict>
				<key>frame</key>
				<string>{{680,542},{273,272}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{273,272}</string>
			</dict>
			<key>pngdata/petskin/pet1004png6.png</key>
			<dict>
				<key>frame</key>
				<string>{{680,314},{226,112}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{226,112}</string>
			</dict>
			<key>pngdata/petskin/pet1004png7.png</key>
			<dict>
				<key>frame</key>
				<string>{{610,932},{77,73}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{77,73}</string>
			</dict>
			<key>pngdata/petskin/pet1004png8.png</key>
			<dict>
				<key>frame</key>
				<string>{{401,314},{277,272}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{277,272}</string>
			</dict>
			<key>pngdata/petskin/pet1005png1.png</key>
			<dict>
				<key>frame</key>
				<string>{{999,1},{103,17}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{103,17}</string>
			</dict>
			<key>pngdata/petskin/pet1005png10.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,730},{85,70}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{85,70}</string>
			</dict>
			<key>pngdata/petskin/pet1005png11.png</key>
			<dict>
				<key>frame</key>
				<string>{{35,816},{32,35}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{32,35}</string>
			</dict>
			<key>pngdata/petskin/pet1005png12.png</key>
			<dict>
				<key>frame</key>
				<string>{{103,799},{221,38}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{221,38}</string>
			</dict>
			<key>pngdata/petskin/pet1005png13.png</key>
			<dict>
				<key>frame</key>
				<string>{{794,509},{209,30}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{209,30}</string>
			</dict>
			<key>pngdata/petskin/pet1005png14.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,350},{134,92}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{134,92}</string>
			</dict>
			<key>pngdata/petskin/pet1005png15.png</key>
			<dict>
				<key>frame</key>
				<string>{{833,940},{79,54}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{79,54}</string>
			</dict>
			<key>pngdata/petskin/pet1005png16.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,853},{283,166}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{283,166}</string>
			</dict>
			<key>pngdata/petskin/pet1005png17.png</key>
			<dict>
				<key>frame</key>
				<string>{{903,873},{107,110}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{107,110}</string>
			</dict>
			<key>pngdata/petskin/pet1005png18.png</key>
			<dict>
				<key>frame</key>
				<string>{{263,640},{189,154}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{189,154}</string>
			</dict>
			<key>pngdata/petskin/pet1005png19.png</key>
			<dict>
				<key>frame</key>
				<string>{{685,928},{68,76}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{68,76}</string>
			</dict>
			<key>pngdata/petskin/pet1005png2.png</key>
			<dict>
				<key>frame</key>
				<string>{{474,588},{63,43}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{63,43}</string>
			</dict>
			<key>pngdata/petskin/pet1005png20.png</key>
			<dict>
				<key>frame</key>
				<string>{{669,816},{108,110}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{108,110}</string>
			</dict>
			<key>pngdata/petskin/pet1005png21.png</key>
			<dict>
				<key>frame</key>
				<string>{{454,639},{189,154}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{189,154}</string>
			</dict>
			<key>pngdata/petskin/pet1005png22.png</key>
			<dict>
				<key>frame</key>
				<string>{{763,940},{68,76}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{68,76}</string>
			</dict>
			<key>pngdata/petskin/pet1005png23.png</key>
			<dict>
				<key>frame</key>
				<string>{{401,1},{400,311}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{400,311}</string>
			</dict>
			<key>pngdata/petskin/pet1005png24.png</key>
			<dict>
				<key>frame</key>
				<string>{{803,1},{341,194}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{341,194}</string>
			</dict>
			<key>pngdata/petskin/pet1005png4.png</key>
			<dict>
				<key>frame</key>
				<string>{{103,595},{202,158}}</string>
				<key>offset</key>
				<string>{-2,2}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{208,164}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>petskinplist4.png</string>
			<key>realTextureFileName</key>
			<string>petskinplist4.png</string>
			<key>size</key>
			<string>{1024,1024}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1024</integer>
			<key>height</key>
			<integer>1024</integer>
		</dict>
	</dict>
</plist>