<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>pngdata/petskin/klpet1002png8.png</key>
			<dict>
				<key>frame</key>
				<string>{{968,444},{133,43}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{133,43}</string>
			</dict>
			<key>pngdata/petskin/lypet1004png15.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{499,365}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{499,365}</string>
			</dict>
			<key>pngdata/petskin/lypet1004png151.png</key>
			<dict>
				<key>frame</key>
				<string>{{391,583},{36,33}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{36,33}</string>
			</dict>
			<key>pngdata/petskin/lypet1004png152.png</key>
			<dict>
				<key>frame</key>
				<string>{{391,618},{36,33}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{36,33}</string>
			</dict>
			<key>pngdata/petskin/lypet1004png153.png</key>
			<dict>
				<key>frame</key>
				<string>{{229,839},{77,73}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{77,73}</string>
			</dict>
			<key>pngdata/petskin/paet1003png1.png</key>
			<dict>
				<key>frame</key>
				<string>{{209,492},{185,180}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{185,180}</string>
			</dict>
			<key>pngdata/petskin/pet1000fighting1.png</key>
			<dict>
				<key>frame</key>
				<string>{{673,591},{55,49}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{55,49}</string>
			</dict>
			<key>pngdata/petskin/pet1000fighting10.png</key>
			<dict>
				<key>frame</key>
				<string>{{817,376},{37,23}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{37,23}</string>
			</dict>
			<key>pngdata/petskin/pet1000fighting11.png</key>
			<dict>
				<key>frame</key>
				<string>{{817,415},{37,23}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{37,23}</string>
			</dict>
			<key>pngdata/petskin/pet1000fighting12.png</key>
			<dict>
				<key>frame</key>
				<string>{{278,748},{89,59}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{89,59}</string>
			</dict>
			<key>pngdata/petskin/pet1000fighting13.png</key>
			<dict>
				<key>frame</key>
				<string>{{383,368},{82,99}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{82,99}</string>
			</dict>
			<key>pngdata/petskin/pet1000fighting14.png</key>
			<dict>
				<key>frame</key>
				<string>{{730,611},{82,98}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{82,98}</string>
			</dict>
			<key>pngdata/petskin/pet1000fighting15.png</key>
			<dict>
				<key>frame</key>
				<string>{{645,880},{152,142}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{152,142}</string>
			</dict>
			<key>pngdata/petskin/pet1000fighting16.png</key>
			<dict>
				<key>frame</key>
				<string>{{207,779},{30,69}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{30,69}</string>
			</dict>
			<key>pngdata/petskin/pet1000fighting17.png</key>
			<dict>
				<key>frame</key>
				<string>{{366,452},{30,69}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{30,69}</string>
			</dict>
			<key>pngdata/petskin/pet1000fighting18.png</key>
			<dict>
				<key>frame</key>
				<string>{{95,779},{110,28}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{110,28}</string>
			</dict>
			<key>pngdata/petskin/pet1000fighting19.png</key>
			<dict>
				<key>frame</key>
				<string>{{984,189},{124,35}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{124,35}</string>
			</dict>
			<key>pngdata/petskin/pet1000fighting2.png</key>
			<dict>
				<key>frame</key>
				<string>{{308,438},{56,49}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{56,49}</string>
			</dict>
			<key>pngdata/petskin/pet1000fighting20.png</key>
			<dict>
				<key>frame</key>
				<string>{{491,659},{167,145}}</string>
				<key>offset</key>
				<string>{-2,2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{175,148}</string>
			</dict>
			<key>pngdata/petskin/pet1000fighting20yingzi.png</key>
			<dict>
				<key>frame</key>
				<string>{{730,321},{288,85}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{290,87}</string>
			</dict>
			<key>pngdata/petskin/pet1000fighting3.png</key>
			<dict>
				<key>frame</key>
				<string>{{229,914},{67,69}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{67,69}</string>
			</dict>
			<key>pngdata/petskin/pet1000fighting4.png</key>
			<dict>
				<key>frame</key>
				<string>{{660,659},{67,69}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{67,69}</string>
			</dict>
			<key>pngdata/petskin/pet1000fighting5.png</key>
			<dict>
				<key>frame</key>
				<string>{{391,534},{26,47}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{26,47}</string>
			</dict>
			<key>pngdata/petskin/pet1000fighting6.png</key>
			<dict>
				<key>frame</key>
				<string>{{391,484},{27,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{27,48}</string>
			</dict>
			<key>pngdata/petskin/pet1000fighting7.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,779},{92,37}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{92,37}</string>
			</dict>
			<key>pngdata/petskin/pet1000fighting8.png</key>
			<dict>
				<key>frame</key>
				<string>{{437,452},{130,62}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{130,62}</string>
			</dict>
			<key>pngdata/petskin/pet1000fighting9.png</key>
			<dict>
				<key>frame</key>
				<string>{{968,315},{127,55}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{127,55}</string>
			</dict>
			<key>pngdata/petskin/pet1000png1.png</key>
			<dict>
				<key>frame</key>
				<string>{{429,584},{60,114}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{62,116}</string>
			</dict>
			<key>pngdata/petskin/pet1000png10.png</key>
			<dict>
				<key>frame</key>
				<string>{{224,438},{82,51}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{84,53}</string>
			</dict>
			<key>pngdata/petskin/pet1000png11.png</key>
			<dict>
				<key>frame</key>
				<string>{{673,507},{82,51}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{84,53}</string>
			</dict>
			<key>pngdata/petskin/pet1000png12.png</key>
			<dict>
				<key>frame</key>
				<string>{{502,1},{338,318}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{340,320}</string>
			</dict>
			<key>pngdata/petskin/pet1000png13.png</key>
			<dict>
				<key>frame</key>
				<string>{{224,368},{68,157}}</string>
				<key>offset</key>
				<string>{0,1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{69,158}</string>
			</dict>
			<key>pngdata/petskin/pet1000png14.png</key>
			<dict>
				<key>frame</key>
				<string>{{189,679},{67,157}}</string>
				<key>offset</key>
				<string>{0,1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{69,158}</string>
			</dict>
			<key>pngdata/petskin/pet1000png15.png</key>
			<dict>
				<key>frame</key>
				<string>{{952,579},{245,61}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{247,63}</string>
			</dict>
			<key>pngdata/petskin/pet1000png17.png</key>
			<dict>
				<key>frame</key>
				<string>{{348,687},{59,114}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{61,116}</string>
			</dict>
			<key>pngdata/petskin/pet1000png18.png</key>
			<dict>
				<key>frame</key>
				<string>{{339,803},{148,154}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{150,156}</string>
			</dict>
			<key>pngdata/petskin/pet1000png19.png</key>
			<dict>
				<key>frame</key>
				<string>{{660,730},{148,154}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{150,156}</string>
			</dict>
			<key>pngdata/petskin/pet1000png2.png</key>
			<dict>
				<key>frame</key>
				<string>{{489,806},{148,154}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{150,156}</string>
			</dict>
			<key>pngdata/petskin/pet1000png20.png</key>
			<dict>
				<key>frame</key>
				<string>{{113,368},{122,109}}</string>
				<key>offset</key>
				<string>{0,1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{122,110}</string>
			</dict>
			<key>pngdata/petskin/pet1000png21.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,368},{121,110}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{121,110}</string>
			</dict>
			<key>pngdata/petskin/pet1000png3.png</key>
			<dict>
				<key>frame</key>
				<string>{{816,826},{148,154}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{150,156}</string>
			</dict>
			<key>pngdata/petskin/pet1000png4.png</key>
			<dict>
				<key>frame</key>
				<string>{{817,578},{199,133}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{201,135}</string>
			</dict>
			<key>pngdata/petskin/pet1000png5.png</key>
			<dict>
				<key>frame</key>
				<string>{{502,321},{184,226}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{186,228}</string>
			</dict>
			<key>pngdata/petskin/pet1000png6.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,826},{183,226}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{185,228}</string>
			</dict>
			<key>pngdata/petskin/pet1000png7.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,507},{206,83}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{208,85}</string>
			</dict>
			<key>pngdata/petskin/pet1000png8.png</key>
			<dict>
				<key>frame</key>
				<string>{{842,1},{290,140}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{292,142}</string>
			</dict>
			<key>pngdata/petskin/pet1000png9.png</key>
			<dict>
				<key>frame</key>
				<string>{{842,293},{283,124}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{285,126}</string>
			</dict>
			<key>pngdata/petskin/pet1001fighting11123213.png</key>
			<dict>
				<key>frame</key>
				<string>{{984,1},{186,30}}</string>
				<key>offset</key>
				<string>{0,-3}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{186,35}</string>
			</dict>
			<key>pngdata/petskin/pet1001png1.png</key>
			<dict>
				<key>frame</key>
				<string>{{501,507},{170,150}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{170,150}</string>
			</dict>
			<key>pngdata/petskin/pet1001png10.png</key>
			<dict>
				<key>frame</key>
				<string>{{817,321},{19,53}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{19,53}</string>
			</dict>
			<key>pngdata/petskin/pet1001png11.png</key>
			<dict>
				<key>frame</key>
				<string>{{489,956},{59,58}}</string>
				<key>offset</key>
				<string>{0,-1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{59,61}</string>
			</dict>
			<key>pngdata/petskin/pet1005png25.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,611},{186,142}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{186,142}</string>
			</dict>
			<key>pngdata/petskin/pet1005png3.png</key>
			<dict>
				<key>frame</key>
				<string>{{817,454},{35,23}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{35,23}</string>
			</dict>
			<key>pngdata/petskin/pet1005png7.png</key>
			<dict>
				<key>frame</key>
				<string>{{409,700},{85,70}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{85,70}</string>
			</dict>
			<key>pngdata/petskin/pet1005png8.png</key>
			<dict>
				<key>frame</key>
				<string>{{391,653},{32,35}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{32,35}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>petskinplist1.png</string>
			<key>realTextureFileName</key>
			<string>petskinplist1.png</string>
			<key>size</key>
			<string>{1024,1023}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1024</integer>
			<key>height</key>
			<integer>1023</integer>
		</dict>
	</dict>
</plist>