<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>pngdata/uieffect/egg2.png</key>
			<dict>
				<key>frame</key>
				<string>{{425,493},{375,117}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{375,117}</string>
			</dict>
			<key>pngdata/uieffect/incubationpet1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,740},{221,216}}</string>
				<key>offset</key>
				<string>{2,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{232,224}</string>
			</dict>
			<key>pngdata/uieffect/incubationpet2.png</key>
			<dict>
				<key>frame</key>
				<string>{{213,509},{221,210}}</string>
				<key>offset</key>
				<string>{1,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{233,215}</string>
			</dict>
			<key>pngdata/uieffect/incubationpet3.png</key>
			<dict>
				<key>frame</key>
				<string>{{632,174},{231,174}}</string>
				<key>offset</key>
				<string>{2,1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{238,177}</string>
			</dict>
			<key>pngdata/uieffect/incubationpet4.png</key>
			<dict>
				<key>frame</key>
				<string>{{802,407},{226,158}}</string>
				<key>offset</key>
				<string>{0,-2}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{226,165}</string>
			</dict>
			<key>pngdata/uieffect/incubationpet5.png</key>
			<dict>
				<key>frame</key>
				<string>{{398,732},{229,193}}</string>
				<key>offset</key>
				<string>{-2,1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{233,200}</string>
			</dict>
			<key>pngdata/uieffect/incubationpet6.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,509},{229,210}}</string>
				<key>offset</key>
				<string>{4,-1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{238,212}</string>
			</dict>
			<key>pngdata/uieffect/incubationpet7.png</key>
			<dict>
				<key>frame</key>
				<string>{{222,287},{221,204}}</string>
				<key>offset</key>
				<string>{2,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{233,206}</string>
			</dict>
			<key>pngdata/uieffect/incubationpet8.png</key>
			<dict>
				<key>frame</key>
				<string>{{285,1},{231,195}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{232,196}</string>
			</dict>
			<key>pngdata/uieffect/levelpng1.png</key>
			<dict>
				<key>frame</key>
				<string>{{122,963},{37,73}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{39,75}</string>
			</dict>
			<key>pngdata/uieffect/levelpng2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,963},{43,119}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{45,121}</string>
			</dict>
			<key>pngdata/uieffect/levelpng3.png</key>
			<dict>
				<key>frame</key>
				<string>{{736,1},{273,147}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{275,149}</string>
			</dict>
			<key>pngdata/uieffect/levelpng4.png</key>
			<dict>
				<key>frame</key>
				<string>{{808,150},{252,125}}</string>
				<key>offset</key>
				<string>{0,1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{252,127}</string>
			</dict>
			<key>pngdata/uieffect/light8.png</key>
			<dict>
				<key>frame</key>
				<string>{{425,612},{104,62}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{104,62}</string>
			</dict>
			<key>pngdata/uieffect/petupeffectpng1.png</key>
			<dict>
				<key>frame</key>
				<string>{{489,612},{75,75}}</string>
				<key>offset</key>
				<string>{-2,2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{94,94}</string>
			</dict>
			<key>pngdata/uieffect/petupeffectpng2.png</key>
			<dict>
				<key>frame</key>
				<string>{{445,234},{185,237}}</string>
				<key>offset</key>
				<string>{-2,2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{201,253}</string>
			</dict>
			<key>pngdata/uieffect/pillow1.png</key>
			<dict>
				<key>frame</key>
				<string>{{482,1},{171,252}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{171,284}</string>
			</dict>
			<key>pngdata/uieffect/pillow2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{282,284}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{282,284}</string>
			</dict>
			<key>pngdata/uieffect/pillow3.png</key>
			<dict>
				<key>frame</key>
				<string>{{219,732},{177,251}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{177,284}</string>
			</dict>
			<key>pngdata/uieffect/uieffect1png1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,287},{220,219}}</string>
				<key>offset</key>
				<string>{0,2}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{227,224}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>uieffectplist3.png</string>
			<key>realTextureFileName</key>
			<string>uieffectplist3.png</string>
			<key>size</key>
			<string>{1024,1024}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1024</integer>
			<key>height</key>
			<integer>1024</integer>
		</dict>
	</dict>
</plist>