<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>pngdata/uieffect/uieffect1png2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,281},{220,211}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{227,216}</string>
			</dict>
			<key>pngdata/uieffect/uieffect1png3.png</key>
			<dict>
				<key>frame</key>
				<string>{{206,503},{228,186}}</string>
				<key>offset</key>
				<string>{0,1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{228,194}</string>
			</dict>
			<key>pngdata/uieffect/uieffect1png4.png</key>
			<dict>
				<key>frame</key>
				<string>{{394,467},{229,170}}</string>
				<key>offset</key>
				<string>{1,3}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{232,177}</string>
			</dict>
			<key>pngdata/uieffect/uieffect1png5.png</key>
			<dict>
				<key>frame</key>
				<string>{{445,281},{229,150}}</string>
				<key>offset</key>
				<string>{0,2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{229,156}</string>
			</dict>
			<key>pngdata/uieffect/uieffect1png6.png</key>
			<dict>
				<key>frame</key>
				<string>{{214,281},{229,184}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{229,191}</string>
			</dict>
			<key>pngdata/uieffect/uieffect1png7.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,572},{229,203}}</string>
				<key>offset</key>
				<string>{0,2}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{229,208}</string>
			</dict>
			<key>pngdata/uieffect/uppet8.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,803},{231,195}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{232,196}</string>
			</dict>
			<key>pngdata/uieffect/winstart1.png</key>
			<dict>
				<key>frame</key>
				<string>{{625,572},{165,160}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{165,161}</string>
			</dict>
			<key>pngdata/uieffect/winstart2.png</key>
			<dict>
				<key>frame</key>
				<string>{{921,524},{18,18}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{20,20}</string>
			</dict>
			<key>pngdata/uieffect/winstart3.png</key>
			<dict>
				<key>frame</key>
				<string>{{921,503},{20,19}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{22,21}</string>
			</dict>
			<key>pngdata/uieffect/winstart4.png</key>
			<dict>
				<key>frame</key>
				<string>{{921,479},{22,23}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{26,25}</string>
			</dict>
			<key>pngdata/uieffect/winstart5.png</key>
			<dict>
				<key>frame</key>
				<string>{{921,452},{25,25}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{29,29}</string>
			</dict>
			<key>pngdata/uieffect/winstart6.png</key>
			<dict>
				<key>frame</key>
				<string>{{921,424},{26,26}}</string>
				<key>offset</key>
				<string>{0,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{32,31}</string>
			</dict>
			<key>pngdata/uieffect/achievementtrophypng1.png</key>
			<dict>
				<key>frame</key>
				<string>{{792,572},{139,139}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{139,139}</string>
			</dict>
			<key>pngdata/uieffect/achievementtrophypng1001.png</key>
			<dict>
				<key>frame</key>
				<string>{{1019,151},{1,1}}</string>
				<key>offset</key>
				<string>{65,-60}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{131,122}</string>
			</dict>
			<key>pngdata/uieffect/achievementtrophypng1002.png</key>
			<dict>
				<key>frame</key>
				<string>{{961,220},{59,61}}</string>
				<key>offset</key>
				<string>{-36,-30}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{131,122}</string>
			</dict>
			<key>pngdata/uieffect/achievementtrophypng1003.png</key>
			<dict>
				<key>frame</key>
				<string>{{956,281},{67,118}}</string>
				<key>offset</key>
				<string>{-25,-2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{131,122}</string>
			</dict>
			<key>pngdata/uieffect/achievementtrophypng1004.png</key>
			<dict>
				<key>frame</key>
				<string>{{933,825},{69,122}}</string>
				<key>offset</key>
				<string>{15,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{131,122}</string>
			</dict>
			<key>pngdata/uieffect/achievementtrophypng1005.png</key>
			<dict>
				<key>frame</key>
				<string>{{933,703},{72,120}}</string>
				<key>offset</key>
				<string>{19,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{131,122}</string>
			</dict>
			<key>pngdata/uieffect/achievementtrophypng1006.png</key>
			<dict>
				<key>frame</key>
				<string>{{948,467},{74,118}}</string>
				<key>offset</key>
				<string>{22,-2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{131,122}</string>
			</dict>
			<key>pngdata/uieffect/achievementtrophypng1007.png</key>
			<dict>
				<key>frame</key>
				<string>{{933,587},{77,114}}</string>
				<key>offset</key>
				<string>{24,-4}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{131,122}</string>
			</dict>
			<key>pngdata/uieffect/achievementtrophypng1008.png</key>
			<dict>
				<key>frame</key>
				<string>{{372,853},{78,107}}</string>
				<key>offset</key>
				<string>{27,-7}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{131,122}</string>
			</dict>
			<key>pngdata/uieffect/achievementtrophypng1009.png</key>
			<dict>
				<key>frame</key>
				<string>{{234,863},{77,103}}</string>
				<key>offset</key>
				<string>{27,-9}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{131,122}</string>
			</dict>
			<key>pngdata/uieffect/achievementtrophypng1010.png</key>
			<dict>
				<key>frame</key>
				<string>{{394,639},{75,96}}</string>
				<key>offset</key>
				<string>{28,-13}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{131,122}</string>
			</dict>
			<key>pngdata/uieffect/achievementtrophypng1011.png</key>
			<dict>
				<key>frame</key>
				<string>{{234,949},{73,86}}</string>
				<key>offset</key>
				<string>{29,-18}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{131,122}</string>
			</dict>
			<key>pngdata/uieffect/achievementtrophypng1012.png</key>
			<dict>
				<key>frame</key>
				<string>{{322,949},{72,76}}</string>
				<key>offset</key>
				<string>{30,-23}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{131,122}</string>
			</dict>
			<key>pngdata/uieffect/achievementtrophypng1013.png</key>
			<dict>
				<key>frame</key>
				<string>{{400,949},{70,70}}</string>
				<key>offset</key>
				<string>{31,-26}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{131,122}</string>
			</dict>
			<key>pngdata/uieffect/achievementtrophypng1014.png</key>
			<dict>
				<key>frame</key>
				<string>{{955,401},{68,64}}</string>
				<key>offset</key>
				<string>{32,-29}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{131,122}</string>
			</dict>
			<key>pngdata/uieffect/achievementtrophypng1015.png</key>
			<dict>
				<key>frame</key>
				<string>{{961,151},{67,56}}</string>
				<key>offset</key>
				<string>{32,-33}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{131,122}</string>
			</dict>
			<key>pngdata/uieffect/achievementtrophypng1016.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,503},{63,47}}</string>
				<key>offset</key>
				<string>{32,-37}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{131,122}</string>
			</dict>
			<key>pngdata/uieffect/achievementtrophypng1017.png</key>
			<dict>
				<key>frame</key>
				<string>{{50,503},{60,39}}</string>
				<key>offset</key>
				<string>{33,-41}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{131,122}</string>
			</dict>
			<key>pngdata/uieffect/achievementtrophypng1018.png</key>
			<dict>
				<key>frame</key>
				<string>{{921,280},{57,33}}</string>
				<key>offset</key>
				<string>{33,-44}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{131,122}</string>
			</dict>
			<key>pngdata/uieffect/achievementtrophypng1019.png</key>
			<dict>
				<key>frame</key>
				<string>{{921,339},{50,25}}</string>
				<key>offset</key>
				<string>{33,-48}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{131,122}</string>
			</dict>
			<key>pngdata/uieffect/achievementtrophypng2.png</key>
			<dict>
				<key>frame</key>
				<string>{{961,1},{61,73}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{63,75}</string>
			</dict>
			<key>pngdata/uieffect/achievementtrophypng3.png</key>
			<dict>
				<key>frame</key>
				<string>{{961,76},{61,73}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{63,75}</string>
			</dict>
			<key>pngdata/uieffect/achievementtrophypng4.png</key>
			<dict>
				<key>frame</key>
				<string>{{234,733},{136,128}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{136,128}</string>
			</dict>
			<key>pngdata/uieffect/achievementtrophypngg.png</key>
			<dict>
				<key>frame</key>
				<string>{{792,713},{139,139}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{139,139}</string>
			</dict>
			<key>pngdata/uieffect/achievementtrophypngk.png</key>
			<dict>
				<key>frame</key>
				<string>{{472,639},{139,139}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{139,139}</string>
			</dict>
			<key>pngdata/uieffect/achievementtrophypngo.png</key>
			<dict>
				<key>frame</key>
				<string>{{481,780},{137,127}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{137,128}</string>
			</dict>
			<key>pngdata/uieffect/achievementtrophypngp.png</key>
			<dict>
				<key>frame</key>
				<string>{{610,780},{137,127}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{137,128}</string>
			</dict>
			<key>pngdata/uieffect/petstar01.png</key>
			<dict>
				<key>frame</key>
				<string>{{472,933},{92,86}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{152,151}</string>
			</dict>
			<key>pngdata/uieffect/petstar02.png</key>
			<dict>
				<key>frame</key>
				<string>{{372,737},{92,114}}</string>
				<key>offset</key>
				<string>{1,-14}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{152,151}</string>
			</dict>
			<key>pngdata/uieffect/dice1.png</key>
			<dict>
				<key>frame</key>
				<string>{{344,1},{335,278}}</string>
				<key>offset</key>
				<string>{3,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{341,320}</string>
			</dict>
			<key>pngdata/uieffect/dice2.png</key>
			<dict>
				<key>frame</key>
				<string>{{681,280},{238,290}}</string>
				<key>offset</key>
				<string>{11,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{341,320}</string>
			</dict>
			<key>pngdata/uieffect/dice3.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{341,278}}</string>
				<key>offset</key>
				<string>{0,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{341,320}</string>
			</dict>
			<key>pngdata/uieffect/diceeffect3.png</key>
			<dict>
				<key>frame</key>
				<string>{{921,391},{32,31}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{32,32}</string>
			</dict>
			<key>pngdata/uieffect/diceeffect2.png</key>
			<dict>
				<key>frame</key>
				<string>{{681,1},{277,278}}</string>
				<key>offset</key>
				<string>{-1,1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{298,298}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>uieffectplist4.png</string>
			<key>realTextureFileName</key>
			<string>uieffectplist4.png</string>
			<key>size</key>
			<string>{1024,1024}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1024</integer>
			<key>height</key>
			<integer>1024</integer>
		</dict>
	</dict>
</plist>