a,body,dd,div,dl,dt,fieldset,form,h1,h2,h3,h4,h5,h6,img,legend,li,ol,p,table,td,th,ul {
    margin: 0;
    padding: 0;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-size:100%;
    font-weight:100;
}

ul,
ol,
li {
    list-style: none;
}

em,
i {
    font-style: normal;
}

fieldset,
img {
    border: none;
    outline: 0;
}

img {
    width: 100%;
}

a,
input,
img {
    vertical-align: middle;
}

abbr,article,aside,audio,canvas,datalist,details,figure,footer,header,hgroup,menu,nav,output,progress,section,video {
    display: block;
    margin: 0;
    padding: 0;
}

body {
    background: #fff;
    color: #313131;
    font: 14px 'Microsoft YaHei', 'SimSun', '\5b8b\4f53', sans-serif;
    /*用处：防止iPhone在坚屏转向横屏时放大文字*/
    -webkit-text-size-adjust: none;
    z-index: 10000;
}

a {
    color: #313131;
    text-decoration: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    blr:expression(this.onFocus=this.blur());
    outline: 0;
}

a:link,
a:visited {
    text-decoration: none;
}

a:hover,
a:active {
    text-decoration: none;
}

/*header*/

/*nav*/

/*main*/

/*article*/

/*aside*/

/*footer*/