/*首页头部*/

header {
    width: 100%;
    font-size: .14rem;
}

.header-bg {
    padding: 4% 0;
    background-color: #0078d7;
    overflow: hidden;
}

.navBox {
    float: left;
    padding-left: .1rem;
}

.navIcon {
    width: .2rem;
    text-align: center;
    overflow: hidden;
}

.navIcon img {
    width: .2rem;
    vertical-align: middle;
}

.nav {
    position: absolute;
    left: 10%;
    top: 3%;
    width: 25%;
    background: #efefef;
    color: #313131;
    display: none;
}
.nav li {
    padding: .05rem;
    border-bottom: 1px solid #d8d9dd;
    font-size: .12rem;
}


.meeting {
    float:right;
    font-size: .14rem;
    color: #fff;
    padding-right: .1rem;
}

/*首页banner*/

.banner {
    width: 100%;
}

.banner img {
    width: 100%;
}

/*提供服务service*/

.columns-ser {
    width: 100%;
}

.columns-serTitle {
    width: 100%;
    background-color: #fff;
    margin: .1rem 0;
    padding: .1rem 0;
}

.columns-serTitle p {
    width: 100%;
    font-size: .15rem;
    color: #0078d7;
    font-weight: bold;
    margin-left: .1rem;
    border-left: 8px solid #0078d7;
    padding-left: .1rem;
}

.columns-serContent {
    width: 100%;
}

.columns-serContentBar {
    overflow: hidden;
}

/*提供服务的css代码*/

.columns-ser-item {
    float: left;
    width: 50%;
    height: 1.3rem;
    overflow: hidden;
    padding-left: .1rem;
    box-sizing: border-box;
    background-color: #fff;
}

.columns-ser-itemBlue {
    background-color: #1d8fe9;
}

.columns-ser-itemIcon {
    float: left;
    width: .30rem;
    vertical-align: middle;
    margin-top: 25%;
}

.columns-ser-details {
    float: left;
    padding-left: 4%;
    margin-top: 10%;
    width: 70%;
}

.columns-ser-details h1 {
    font-size: .14rem;
    font-weight: bold;
    color: #313131;
    line-height: 2em;
}

.columns-ser-details p {
    font-size: .12rem;
    color: #656565;
}

.columns-ser-detailsBlue h1 {
    color: #fff;
}

.columns-ser-detailsBlue p {
    color: #bde2ff;
}

/*游戏的css代码*/

.columns-game {
    width: 50%;
    float: left;
    padding-top: 5%;
}

.columns-gameLink {
    display: block;
    font-size: 0%;
    text-align: center;
}

.columns-gameImg {
    width: 80%;
}

.columns-gameP {
    display: block;
    font-size: .14rem;
    padding-top: 5%;
}

/*客户介绍*/

.columns-customer {
    width: 100%;
    background-color: #fff;
    margin-top: 2%;
}

.columns-customerImg {
    display: block;
    width: 94%;
    padding:3% 0;
    margin: 0 auto;
}

.columns-customerCon {
    width: 94%;
    padding:0 3%;
    color:#4bafff;
    font-size: .12rem;
}

.columns-customerCon span {
    vertical-align: bottom;
    display: inline;
}

.columns-customerCon-name {
    color:#0078d7;
    font-size: .15rem;
    font-weight: bold;
    margin-right: 1%;
}

.columns-customerCon-text {
    color: #656565;
    padding: 3%;
}

/*企业品牌合作代码-flex布局*/

.columns-company {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
    margin: 2% 0;
    background-color: #fff;
    font-size: 0;
}

.columns-companyL {
    width: 46%;
    padding: 0 2%;
}

/*底部banner*/

.columns-des {
    position: relative;
    width: 100%;
    margin: 2% 0 0 0;
    text-align: center;
    font-size: .12rem;
    color: #fff;
}

.columns-des-banner {
    width: 100%;
    vertical-align: top;
}

.columns-des-text{
    position:absolute;
    top: .2rem;
    left: 0;
    padding: .2rem;
    padding-top: 0;
    z-index: 999;
}

.columns-des-text P {
    margin-top: .1rem;
}

.columns-des-text .columns-desT {
    font-size: .16rem;
    margin-top: 0;
}

/*底部的css*/

.footerBox {
    width: 100%;
    padding:0 .1rem;
    box-sizing: border-box;
    background: #313131;
    color: #d8dde0;
    font-size: .12rem;
    line-height: .25rem;
}

.footer-item h1{
    font-size: .15rem;
    color: #fff;
    font-weight: bold;
    line-height: .5rem;
}

.footer-item-part {
    width:100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
    padding-bottom: .2rem;
}

.footer-item-part li {
    width: 50%;
}









































